
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=11,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - Evolutyz Corner</title>
    @*<link rel='shortcut icon' href='~/Content/Images/favicon.png' type='image/png' />*@
    <link rel="icon" type="image/png" href="~/Content/images/Evolutyz-favicon-1-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/Content/images/Evolutyz-favicon-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" type="image/png" href="~/Content/images/Evolutyz-favicon-1-180x180.png" />
    <meta name="msapplication-TileImage" type="image/png" content="~/Content/images/Evolutyz-favicon-1-270x270.png" />
    @Styles.Render("~/EvolutyzCSS")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">*@
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/css/skins/_all-skins.min.css">

    <link href="~/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="~/plugins/morris/morris.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <link href='content/css/ie-old.css' rel='stylesheet' type='text/css'>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/plugins/morris/morris.js"></script>

    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="@Url.Content("~/Scripts/carousel.js")" type="text/javascript"></script>
    <script>window.rootUrl = '@Url.Content("~/")';</script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    @*<script>
            $(document).ready(function () {
                $('[data-toggle="modal"]').click(function (e) {
                    //e.preventDefault();
                    //$.noConflict();
                    $(".modal").modal({ backdrop: "static", keyboard: false });
                });
            });
        </script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

    <script src="~/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/plugins/knob/jquery.knob.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/plugins/fastclick/fastclick.min.js"></script>
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <script src="~/Scripts/demo.js"></script>
    <script src="~/Scripts/dashboard.js"></script>

    <script src="~/Content/JQGridReq/jquery.jqGrid.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/JQGridReq/grid.locale-en.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <link href="~/Content/JQGridReq/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />


    @section Scripts {

        @RenderSection("~/Content/bootstrap-chosen.css")

    }

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    @* Once Session out, redirecting to login screen *@
    <script>
        $(document).ready(function () {

            $("input[type='file']:not(.payslip)").each(function () {
                $(this).attr("accept", ".png, .jpg, .jpeg");
            });
            $('input[type="file"]:not(.payslip)').change(function (e) {
                var fileName = e.target.files[0].name;
                var idxDot = fileName.lastIndexOf(".") + 1;
                var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
                if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
                    $(this).nextAll("span.html").remove();
                } else {
                    //alert("Only jpg/jpeg and png files are allowed!");
                    $(this).nextAll("span.html").remove();
                    $('<span class="html">Upload Only Images</span>').insertAfter(this);
                }
            });

        });
        var timeout = @FormsAuthentication.Timeout.TotalMilliseconds;
        var wintimeout;
        function SetWinTimeout()
        {
            wintimeout =  window.setTimeout( "window.location.href='@FormsAuthentication.LoginUrl';",timeout); // In millisecods

        }
        $(document).on('click', function () {
            //when user clicks remove timeout and reset it
            window.clearTimeout(wintimeout);
            SetWinTimeout();
            //var fileName = document.ge("fileName").value;
            //var allowedExtensions = /(\.png\.jpg)$/i;
            //var fileInput = document.getElementById('FileName');
            //var filePath = fileInput.value;

            //if (!allowedExtensions.exec(filePath)) {

            //    $("#FileName").siblings("span.html").show();
            //    return false;
            //}
            //else {
            //    $("#FileName").siblings("span.html").hide();

            //}
        });
        SetWinTimeout();

    </script>
    <style type="text/css">
        .skin-blue .main-header .navbar {
            background-image: url(https://www.evolutyz.com/wp-content/uploads/2020/04/evolutyz-sub-hero.svg);
            background-repeat: no-repeat;
            background-position: top right;
        }
        .skin-blue .sidebar-menu > li:hover > a > img.leftmenu_icn + img.leftmenu_icn, 
        .skin-blue .sidebar-menu > li.active > a > img.leftmenu_icn + img.leftmenu_icn, 
        .skin-blue .sidebar-menu > li.menu-open > a > img.leftmenu_icn + img.leftmenu_icn {
            display: inline-block;
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
        }
        .skin-blue .sidebar a > img.leftmenu_icn{
            height:30px
        }
        .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
            padding: 11px 5px 11px 5px;
            border-left: none;
            text-align: center;
        }
        .main-header .sidebar-toggle {
            padding: 13px 20px;
            font-size: 25px;
            line-height: 1;
        }
        .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right) {
            padding: 12px 5px 12px 10px;
            left: 60px;
            text-align: left;
        }
            @@media(min-width:768px) {
                .sidebar-mini.sidebar-collapse .main-sidebar {
                    width: 60px !important;
                }
                .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
                    font-size: 20px;
                    white-space: nowrap;
                }
            }

            input [type='file'] + span.html {
            font-size: 10px;
            color: red;
            display: block;
        }

        .ui-widget input, .ui-widget select, .ui-widget textarea {
            width: 100%;
        }

        .ui-jqdialog-content td.DataTD {
            vertical-align: middle;
        }

        .ui-jqdialog-content td.DataTD,
        .ui-jqdialog-content td.CaptionTD {
            padding: 4px 8px;
        }

        .ui-jqdialog-content td.EditButton {
            white-space: nowrap;
        }



        .ui-jqgrid table.ui-pg-table {
            table-layout: auto !important;
        }

            .ui-jqgrid table.ui-pg-table td {
                width: auto !important;
            }

        .skin-blue .wrapper {
            background-color: transparent;
        }

        .modal .form-control {
            width: 100%;
        }

        .navbar-custom-menu > ul.navbar-nav.flex-nav {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .navbar-custom-menu > ul.navbar-nav.flex-nav > li:not(:last-child) {
                padding: 0 5px;
            }

                .navbar-custom-menu > ul.navbar-nav.flex-nav > li:not(:last-child) img[class^="img-"] {
                    border: 0;
                    cursor: pointer;
                    height: 46px;
                    margin: auto;
                    display: block;
                    max-width: 100%;
                }

                .navbar-custom-menu > ul.navbar-nav.flex-nav > li:not(:last-child) img.img-circle {
                    background-color: #fff;
                    padding: 2px;
                    border: 5px solid #212121;
                    height: 44px;
                }

        @@media (min-width:992px) {
            .sidebar-mini.sidebar-collapse .content-wrapper {
                /*border: 1px dashed #075d9d;*/
                margin: 15px 15px 15px 65px !important;
                padding: 15px 15px 0;
            }

            .navbar-custom-menu > .navbar-nav > li > .dropdown-menu { /*adminlte.min.css : 1333*/
                border: 2px solid transparent;
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            }

                .navbar-custom-menu > .navbar-nav > li > .dropdown-menu:before {
                    content: "";
                    position: absolute;
                    right: 10px;
                    top: -7px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 8px 8px 8px;
                    border-color: transparent transparent #3b464e transparent;
                    z-index: 9999;
                }

                .navbar-custom-menu > .navbar-nav > li > .dropdown-menu::after {
                    content: "";
                    position: absolute;
                    right: 4px;
                    top: -13px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 14px 14px 14px;
                    border-color: transparent transparent #ffffff transparent;
                    z-index: 9998;
                }
        }


        .skin-blue .content-header,
        .skin-blue .content-header + .content {
            padding: 0;
        }

        .treeview-menu > li > a {
            padding: 5px 5px 5px 20px;
        }

        .sidebar-menu {
            white-space: normal;
        }

        .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
            top: 43px;
        }

        .skin-blue .sidebar-menu .treeview-menu > li.click > a,
        .skin-blue .sidebar-menu .treeview-menu > li.click > a:hover {
            color: #fbf9f6;
            background-color: #a3765b;
            margin-right: 5px;
            /*margin: -5px 0px -5px -5px;*/
        }
        /*.ui-jqgrid .ui-jqgrid-titlebar {
            background: linear-gradient(#8191a0,#a7b3be);
            color: #fff;
            font-weight: 600;
        }*/
        /*.sidebar-mini.sidebar-collapse .content-wrapper {
            border-bottom: 1px solid red;
            margin-bottom: 15px;
        }*/
        /*.ui-jqgrid table.ui-pg-table td {
            display: inline-block;
            height: auto !important;
        }*/
        .drpdwn_grd_profile > .grd_profile_row > span > p.p {
            display: block;
            word-break: break-word;
            /*white-space: nowrap;*/
        }
    </style>

</head>
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">

    <div class="preloader-block col-lg-12 no-padd">
        <div class="preload-logo">
            <img src="~/Content/Images/logo.png" alt="" class="img-responsive" />
        </div>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div id="modal-change-password-box" class="modal fade">
        <div class="modal-dialog modal-sm">
            @if (Session["UserSessionInfo"] != null)
            {

                Html.Partial("_ChangePassword");
            }
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/Content/logo.png" width="50px" height="20px" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Evolutyz </b>Corner</span>
            </a>



            @*@TempData["lastVisited"]*@

            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Toggle navigation</span> </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav flex-nav">

                        <li style="text-align:center;font-size: 12px;">
                            <div style="text-align: left;display: inline-block;">
                                <p style="margin: 0 0 2px;font-weight: bold;line-height: 1;color: #fafafa;">An Award-Winning IT Solutions Firm</p>
                                <p style="color: #ffffff;margin: 0 0 2px;line-height: 1;font-weight: 900;letter-spacing: 0.5px;text-shadow: 1px 1px 0px #040404;">Together, the future is limitless.</p>
                                <p style="margin: auto;line-height: 1;font-weight: 600;color: #f9f9f9;">Let's Innovate</p>
                            </div>
                        </li>
                        <li style="text-align:right;">
                            <img border="0" src="~/Content/images/ec_inc500.png" alt="logo" class="img-inc" onclick="window.open('https://www.inc.com/', '_blank');">
                        </li>
                        <li style="text-align:right;">
                            <img border="0" src="~/Content/images/ec_inc.png" alt="logo" class="img-circle" onclick="window.open('https://www.inc.com/profile/evolutyz', '_blank');">
                        </li>


                        <li class="dropdown user user-menu">

                            @if (Session["Usrp_ProfilePicture"].ToString() != null && Session["Usrp_ProfilePicture"].ToString() != "")
                            {
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="/uploadimages/Images/@Session["Usrp_ProfilePicture"]" class="user-image showimage" alt="User Image" id="image"> <span class="hidden-xs"></span><span id="Firstname">@Session["FirstName"]</span>  <span id="Lastname">@Session["LastName"]</span></a>

                            }
                            else

                            {

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/Content/images/user.png" class="user-image showimage" alt="User Image" id="image"> <span class="hidden-xs"></span><span id="Firstname">@Session["FirstName"]</span>  <span id="Lastname">@Session["LastName"]</span></a>
                            }


                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <input type="hidden" value="@TempData["lastVisited"]" />

                                @{
                                    TempData.Keep("lastVisited");

                                }


                                @if (TempData["lastVisited"] == null)

                                {
                                    <li class="user-header">

                                        <div class="drpdwn_grd_profile">
                                            <div class="grd_profile_row">
                                                @if (Session["Usrp_ProfilePicture"].ToString() != null && Session["Usrp_ProfilePicture"].ToString() != "")
                                                {
                                                    <span><img src="/uploadimages/Images/@Session["Usrp_ProfilePicture"]" class="img-circle showimage" alt="User Image" id="imageNew"></span>
                                                }
                                                else
                                                {
                                                    <span><img src="~/Content/images/user.png" class="img-circle showimage" alt="User Image" id="imageNew"></span>
                                                }
                                                <span><p id="PFname">@Session["FirstName"] @Session["LastName"]</p> <p>@Session["RoleName"]</p></span>
                                            </div>


                                        </div>
                                    </li>
                                }
                                else
                                {

                                    <li class="user-header">
                                        <div class="drpdwn_grd_profile">
                                            <div class="grd_profile_row">
                                                @if (Session["Usrp_ProfilePicture"].ToString() != null && Session["Usrp_ProfilePicture"].ToString() != "")
                                                {
                                                    <span><img src="/uploadimages/Images/@Session["Usrp_ProfilePicture"]" class="img-circle showimage" alt="User Image" id="imageNew"></span>
                                                }
                                                else
                                                {
                                                    <span><img src="~/Content/images/user.png" class="img-circle showimage" alt="User Image" id="imageNew"></span>
                                                }
                                                <span><p id="PFname">@Session["FirstName"] @Session["LastName"]</p><p>@Session["RoleName"]</p></span>
                                            </div>


                                        </div>
                                    </li>
                                }

                                <li class="user-footer" style="padding:0;">
                                    @*<div class="clearfix text-center">*@
                                    <a href="~/Profile/Index" class="btn btn-default">Profile</a>
                                    <a href="~/Profile/ChangePassword" class="btn btn-default">Change Password</a>

                                    @using (Html.BeginForm("SignOut", "Home", FormMethod.Post, new { style = "", id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit();" class="btn btn-default">Logout</a>
                                    }

                                </li>
                                <li class="user-footer">
                                    <p style="margin-bottom:auto;color:#fff;font-size :10px">Your last Logged in @TempData["lastVisited"]</p>
                                </li>

                            </ul>


                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">

                @Html.Partial("_LeftMenu")



            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()

        </div>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs"> <b>Version</b> 1.0 </div>
        <div class="pull-left hidden-xs"><a href="http://evolutyz.com/" target="_blank" style="color:#FFF"><img src="~/Content/images/CompanyLogos/502.png" width="85px" /> Copyrights  Evolutyz IT Services.</a> </div>
        <br />
    </footer>

    <script src="@Url.Content("~/Scripts/bootstrapValidator.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-multiselect.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/common-js.js")" type="text/javascript"></script>

    <script>

        $('.drpdwn_grd_profile > .grd_profile_row > span > p.p').each(function () {
            var
                $el = $(this),
                max = $el.get(0),
                el = null
                ;
            max =
                max
                    ? max.offsetWidth
                    : 150
                ;
            $el.css({
                'font-size': '1em',
                'display': 'inline',
            });
            el = $el.get(0);

            el.get_float = function () {
                var
                    fs = 0
                    ;
                if (this.style && this.style.fontSize) {
                    fs = parseFloat(this.style.fontSize.replace(/([\d\.]+)em/g, '$1'));
                }
                return fs;
            };

            el.bigger = function () {
                this.style.fontSize = (this.get_float() + 0.1) + 'em';
            };


            while (el.offsetWidth < max) {
                el.bigger();
            }
            // finishing touch.
            $el.css({
                'font-size': ((el.get_float() - 0.1) + 'em'),
                'line-height': 'normal',
                'display': '',
            });
        });
    </script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
 


</body>

<script src="~/Scripts/bootstrap.min.js"></script>
</html>