@model evolCorner.Models.UserProjectdetailsEntity
@{
    ViewBag.Title = "BiWeeklyTimeSheet";
}

<link href="~/TimeSheetStyles/BiWeeklyStyles.css" rel="stylesheet" />

<div id="loading-image" style="display:none">
    <span></span>
    <strong>Loading Please Wait....</strong>
</div>

<div class="block-content" id="PdfPrint">
    <div class="">
        <h4 class="heading-fancy"> Submit Timesheet </h4>
    </div>
    <div id="dvTimesheetid"><span id="dvTimesheetids" style="display:none"> </span></div>
    <div class="clearfix">
        <div id="StardateToEnddate" style="color:coral;font-size:large;float:left;width: 90%;text-align:center;font-weight:600"></div>

    </div>
    <table cellspacing="0" cellpadding="0" border="0" id="ClientDetails" style="display:none;">
        <tbody>
            <tr>
                <td align="right" width="100" class="alt">
                    <b>Client Name:</b>
                    <b>Project Name:</b>

                </td>
                <td>

                    <div id="ts_ClientNameid">  </div>
                    <div id="ts_ProjectNameid"></div>

                </td>
                <td align="right" width="110" class="alt">
                    <b>Manager 1:</b>
                    @*<b id="ts_Manager2">Manager 2:</b>*@
                    <b>Manager 2:</b>


                    @*<b id="ts_submited">Submitted on:</b>*@
                </td>
                <td>
                    <div id="ts_ManagerNamesid1"></div>
                    <div id="ts_ManagerNamesid2"></div>

                    @*<div id="ts_Submittedid"></div>*@
                </td>
                <td width="100" align="right" class="alt">

                    <b>Duration :</b>
                    <b>Approved on:</b>

                </td>
                <td>
                    <div id="Timesheet_Duration"></div>
                    <div id="ts_Approveid"></div>
                </td>

                <td width="100" align="right" class="alt">

                    <b>Timesheet Mode :</b>
                    @*<b>Status :</b>*@
                </td>

                <td>
                    <div id="Timesheet_dvTSMode"></div>
                    @*<div id="TimesheetApprovalStatus"></div>*@
                    <div id="full.TimesheetApprovalStatus"></div>
                    @*<div class="sorting"></div>*@


                </td>

            </tr>
        </tbody>



    </table>
    <div class="row">

    </div>
    <div class="box-body no-padding" id="body">

        <div id="divhidFday" style="display:none">
            <p> <label id="fday"></label></p>
        </div>
        <div class="clearfix text-right">
            @*<div id="StardateToEnddate" style="color:coral;font-size:large;float:left;width: 90%;text-align:center;font-weight:600"></div>*@
            <button type='submit' id='btnPrint' name='bntPrint' title="Click here to print" class='evInputBtn btn-warning' onClick='print_page()' style="display:none;"><i class="fa fa-print"></i></button>
            <button type='submit' name='btnpdf' id='btnpdf' title="Click here to pdf" class='evInputBtn btn-danger' style="display:none;"><i class="fa fa-file-pdf-o"></i></button>
            <button class="btn btn-warning" id="btnChangeDate" value="2" name="ChangeDate" style="display:none;">Change Date</button>
        </div>
        <div id="tabCon"></div>
        <div id="TotHrs" style="float:right;position:relative;right:19px;font-size:large;display:none"><label>Total Working Hours:</label>&nbsp;&nbsp;<label name="totCount" id="TotalHoursCount"></label></div>

    </div>


    <div id="footer">

        <div id='Cmtsave' style="display:none">
            <label style='color:coral'>Additional Comments</label>
            <div>
                <textarea name='tnameDescription' rows='2' cols='20' id='txtDescription' style='width:100%;'></textarea>

            </div>
            <label class="" id="imagelbl" style="display:none">
                <i class="fa fa-image"></i> Upload Image1<input type="file" style="display: none;" id="flImage" name="ImageUpload">
            </label>


            <a class='kin' href='javascript:;' id="images">
                <img id="previewFlImage" class="showimage" data-toggle='modal' data-target='#imgModal' />
            </a>

            <label class="" id="imagelbl1" style="display:none">
                <i class="fa fa-image"></i> Upload Image2<input type="file" style="display: none;" id="flImage1" name="ImageUpload">
            </label>

            <a class='kin' href='javascript:;' id="imagestwo">
                <img id="previewFlImage1" class="showimage" data-toggle='modal' data-target='#imgModal' />
            </a>
            <div class='clearfix' style='padding: 10px;text-align:right;'>
                <fieldset class="note-status">
                    <legend>Note :</legend>
                    <label class="green">Work from Home</label>
                    <label class="red">Leaves</label>
                    <label class="blue">Holidays</label>
                </fieldset>
                <input type='submit' name='btnSave' value='Save &amp; Close' onclick=AddByMonthlyTimesheets('1') id='btnSave' class='evInputBtn' />
                &nbsp;&nbsp;
                <input type='submit' name='btnSend' value='Save &amp; Submit Timesheet' onclick=AddByMonthlyTimesheets('2') id='btnSend' class='evInputBtn' />
                &nbsp;&nbsp;
                <input type='submit' name='SaveUpdate' value='Save &amp;Update' id='btnSaveUpdate' onclick=updateTimesheet('1') style="display:none" class='evInputBtn' />
                &nbsp;&nbsp;
                <input type='submit' name='SubmitUpdate' value='Submit&amp;Update' id='btnSubmitUpdate' onclick=updateTimesheet('2') style="display:none" class='evInputBtn' />
                &nbsp;&nbsp;
                <input type='submit' id='btnclose' name='bntClose' value='Close' title="Close" class='evInputBtn' data-target="#warningmsg" data-toggle="modal" />


            </div>

        </div>
    </div>





    @*
        </form>*@
</div>
<!-- /.box -->
<!-- /.content-wrapper -->
<div id="warningmsg" class="modal" role="dialog">
    <div class="modal-dialog">
        <div id="divAdv" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body">
                <h3>Do you really want to close the window.</h3>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-clr" data-dismiss="modal" value="1" onclick="closebtn();">Yes</button>
                <button type="button" class="btn btn-clr1" value="2" data-dismiss="modal" id="cancel">No</button>
            </div>
        </div>
    </div>
</div>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->

</aside>
<div id="imgModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img id="showimage" class="showimage img-responsive" style="margin:auto;height:25em" src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="control-sidebar-bg"></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script>
    $(document).ready(function () {
        $('a#images.kin').on('click', function () {
            $('#showimage').attr('src', $(this).find('img#previewFlImage').attr('src'));
            // $('#imgModal').modal('show');
        });

        $('a#imagestwo.kin').on('click', function () {
            $('#showimage').attr('src', $(this).find('img#previewFlImage1').attr('src'));
            // $('#imgModal').modal('show');
        });
        function readURL(input) {
            //console.log(input);
            //
            var urlInput = $(input).val();
            //console.log(urlInput);
            var ext = urlInput.substring(urlInput.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {

                    $('#previewFlImage').attr('src', e.target.result);
                    $("#btnSave").removeAttr("disabled", "disabled");
                    $("#btnSend").removeAttr("disabled", "disabled");
                    $("#btnSaveUpdate").removeAttr("disabled", "disabled");
                    $("#Submit&Update").removeAttr("disabled", "disabled");


                }

                reader.readAsDataURL(input.files[0]);
            } else {
                $('#previewFlImage').removeAttr('src');
                $("#btnSave").attr("disabled", "disabled");
                $("#btnSend").attr("disabled", "disabled");
                $("#btnSaveUpdate").attr("disabled", "disabled");
                $("#Submit&Update").attr("disabled", "disabled");

            }
        }
        function ImagereadURL(input) {
            //console.log(input);
            //
            var urlInput = $(input).val();
            //console.log(urlInput);
            var ext = urlInput.substring(urlInput.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {

                    $('#previewFlImage1').attr('src', e.target.result);
                    $("#btnSave").removeAttr("disabled", "disabled");
                    $("#btnSend").removeAttr("disabled", "disabled");
                    $("#btnSaveUpdate").removeAttr("disabled", "disabled");
                    $("#Submit&Update").removeAttr("disabled", "disabled");


                }

                reader.readAsDataURL(input.files[0]);
            } else {
                $('#previewFlImage1').removeAttr('src');
                $("#btnSave").attr("disabled", "disabled");
                $("#btnSend").attr("disabled", "disabled");
                $("#btnSaveUpdate").attr("disabled", "disabled");
                $("#Submit&Update").attr("disabled", "disabled");

            }
        }

        $("#flImage").change(function () {
            readURL(this);
        });
        $("#flImage1").change(function () {
            ImagereadURL(this);
        });
    });
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }



    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }


    function print_page() {
        window.print();
    }

    $("body").on("click", "#btnpdf", function () {
        html2canvas($('#PdfPrint')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Timesheet.pdf");
            }
        });
    });

</script>

<script>
    var dt = new Date();
    var presentyear = dt.getFullYear();
    var currMon = dt.getMonth(); var resultDataArray; var hidtimesheet;
    var MonthYear = ''; var SessionUsrid; var sessionProjectName, Sessionclientname, SessionAccountid, SessionProjectid, SessionTaskid; var byweeklydates = '';
    var resultHoursWorkedColourArray;
    var TaskDetailsid = ''; var MonthTimesheet = '';
    var tsuserid = '', AppRejectstatus = ''; var TimesheetID = ''; var resultDataArrayUploadimages = '';
    var colourcode = '';


    var timesheetStartDate = '@ViewBag.StartDate';
    var timesheetEnddate ='@ViewBag.EndDate' ;
    var Byweeklyid = '@ViewBag.Byweeklyid';
    var timesheetmode = '@ViewBag.Mode';


    $(document).ready(function () {
        
        SessionUsrid = '@TempData["USERID"]';
        sessionProjectName = '@ViewBag.AccClientName ';
        SessionProjectid = '@ViewBag.projectid';
        Sessionclientname = '@ViewBag.Clientprojectname'
        SessionAccountid = '@Model.Account_ID';
        SessionTaskid = @Model.tsktaskID;
        CheckTimesheetexits();
        $("#btnChangeDate").on("click", function () {

            //$("#divbyweeklydates").show();
            //$("#body").show();

            //$('#btnChangeDate').hide();
            //$('#btnPreview').show();
            //$('#btnPrint').hide();
            //$('#btnpdf').hide();
            //$('#submit').show();
            //$('#TotHrs').hide();
            //$("#MainTable").html("");
            //$("#SubTable").html("");
            //$("#tabCon").html("");
            //$("#StardateToEnddate").html("");
            //$("#ClientDetails").hide();
            //$('#Cmtsave').hide();
            
            
            window.location.href = "/Timesheet/Usertimesheet";

        });
    });


    function CheckTimesheetexits() {      
         var newclientprjid = '@TempData["Cprojid"]';
        var month = $("#month").val();
        var year = $("#year").val();
        if (month <= 9) {

            MonthYear = year + '-' + "0" + month + '-' + '01';
        }
        else {

            MonthYear = year + '-' + month + '-' + '01';
        }



        var objDate = new Date(MonthYear),
            locale = "en-us",
            month = objDate.toLocaleString(locale, { month: "short" });


        $.ajax({
            type: "GET",
            url: "/Timesheet/CheckTimesheetByWeeklyExists",
            data: { timesheetstartdate: timesheetStartDate, timesheetenddate: timesheetEnddate, clientprojid: newclientprjid},
            datatype: "Json",
            async: false,
            success: function (data) {

                if (data == '101') {
                    var r = confirm("TimeSheet  is already Submitted between '" + timesheetStartDate + "' and '" + timesheetEnddate + "',\nDo you want to Preview?");
                    if (r == true) {
                        $("#btnSave").attr("style", "display: none;");
                        $("#btnSend").attr("style", "display: none;");
                        $("#btnSaveUpdate").attr("style", "display: none;");
                        $("#btnSubmitUpdate").attr("style", "display: none;");
                        $("#txtDescription").attr('readonly', true);
                        // LoadClientDetails();
                        LoadsubmittedBymonthlyTimesheets(timesheetEnddate, newclientprjid);
                    }

                }
                if (data == '102') {

                    var r = confirm("TimeSheet  is saved already between '" + timesheetStartDate + "' and '" + timesheetEnddate + "',\nDo you want to Preview?");
                    if (r == true) {

                        $("#btnSave").attr("style", "display: none;");
                        $("#btnSend").attr("style", "display: none;");
                        $("#btnSaveUpdate").attr("style", "display: inline-block;");
                        $("#btnSubmitUpdate").attr("style", "display: inline-block;");
                        // LoadClientDetails();
                        displaysavedBymonthlyTimesheets(timesheetEnddate, SessionUsrid);

                    }
                }
                if (data == "103") {
                    LoadBymonthlyDefaultTimesheets(newclientprjid);

                }
            },
        });
    }


    function displaysavedBymonthlyTimesheets(MonthTimesheet, tsuserid) {
        var taskid = '';
        $("#btnPrint").hide();
        $("#btnpdf").hide();
        // $("#flImage").show();
        $("#imagelbl").show();
        $("#images").show();
        $("#imagelbl1").show();
        $("#images1").show();
        $('#ts_ClientNameid').html(sessionProjectName);
        $('#ts_ProjectNameid').html(Sessionclientname);
       

        $.ajax({
            url: "/Timesheet/ViewByWeeklySubmitedTimesheet",
            type: "GET",
            data: {
                TimesheetUserid: SessionUsrid,
                Timesheetstartdate: timesheetStartDate,
                TimesheetEnddate: timesheetEnddate,
                Accountid: SessionAccountid,
                Projectid: SessionProjectid
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'JSON',
            async: false,
            success: function (resultData) {
                resultDataArray = resultData.timeSheetDetails;
                resultDataArrayUploadimages = resultData.UploadTimesheetimage;
                ByMonthlyLoadHoursWorkedAcctoDate(SessionUsrid, timesheetStartDate, timesheetEnddate, SessionAccountid, SessionProjectid);
                savedBymonthlyTimesheets(MonthTimesheet, resultDataArray);
                LoadbymonthlySavedTasks();
            }
        });
        LoadmonthlyTaskData();

    }


    function LoadBymonthlyDefaultTimesheets(newclientprjid) {
        
        //   var SessionUsrid sessionProjectName, Sessionclientname, SessionAccountid, SessionProjectid;
        $("#imagelbl").show();
        $("#imagelbl1").show();
       

        $('#ts_ClientNameid').html(sessionProjectName);
        $('#ts_ProjectNameid').html(Sessionclientname);
        $.ajax({
            type: "GET",
            url: "/Timesheet/GetByWeeklyHoursWorked",

            data: {
                tdate: Byweeklyid,
                Userid: SessionUsrid,
                cmpnyAccountid: SessionAccountid,
                UsrProjectId: SessionProjectid,
                ClientprojID: newclientprjid
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (resultData) {
                
                var datahourworked = resultData.timeSheetDetails;
                $('#ts_ManagerNamesid1').html(resultData.objEmpInfo.ManagerName1);
                $('#Timesheet_Duration').html(resultData.objEmpInfo.TotalMonthName);
                if (timesheetmode == 2) {
                    $("#Timesheet_dvTSMode").html("Bi-Weekly");
                }
                $("#StardateToEnddate").empty();
                $("#StardateToEnddate").html("<span id='StartToEnd'><b>Timesheet of " + resultData.objEmpInfo.UserName + " for the Period of " + resultData.objEmpInfo.TotalMonthName + "</b></span>");
                if (resultData.objEmpInfo.ManagerName2 != '0') {
                    $('#ts_ManagerNamesid2').html(resultData.objEmpInfo.ManagerName2);
                    $("b.ts_ManagerNamesid2").show();
                    $("#ts_Manager2").show();
                }
                else {
                    $('#ts_ManagerNamesid2').html("");
                    $("b.ts_ManagerNamesid2").hide();
                    $("#ts_Manager2").hide();
                }
                $("#ts_Approveid").hide();
                $("#ts_Submittedid").hide();
                $("#ts_approid").hide();
                $("#ts_submited").hide();

                FirstLoadByTimesheetsTable(MonthYear, datahourworked)
                LoadBymonthlyTasklookups();
            }
        });
    }



    function LoadBymonthlyTasklookups() {

        $.ajax({
            type: "GET",
            url: "/Admin/getLookUp",
            datatype: "Json",
            //data: { id: id },
            success: function (data) {
                $.each(data, function (index, value) {

                    $('.lookup').append('<option value="' + value.tsk_TaskID + '">' + value.tsk_TaskName + '</option>');

                    $(".lookup option").each(function () {

                        if ($(this).val() == SessionTaskid) {
                            $(this).attr("selected", "selected");
                            return;
                        }
                    });

                });
            },
        });
    }
    function FirstLoadByTimesheetsTable(MonthYear, resultData) {

        $("#divbyweeklydates").hide();
        $('#divMonthYear').hide();
        $('#btnChangeDate').show();
        $('#btnPrint').hide();
        $('#btnpdf').hide();
        $('#TotHrs').show();
        $('#submit').hide();
        $('#btnPreview').hide();
        $("#tabCon").empty();
        $('#Cmtsave').show();
        $("#MainTable").empty();
        $("#SubTable").empty();
        var counter = -1;
        var counter15 = -1;
        $("#ClientDetails").show(true);

        $("#tabCon").append("<table name='maintbl' id='MainTable' width='100%'>");

        $.each(resultData, function (k, v) {

            if (k <= 6) {

                if (counter15 == -1) {

                    $("#MainTable").append("<td id='td1'>" +
                        "<table id='SubTable' width='100%' class='evAdminTable1'><tr style='background-color:black;color:white'><th width='160' text-align='center' class='evAdminTable'>Date </th> <th class='evAdminTable'>Task </th> <th width='50' class='evAdminTable'>Hours </th></tr>");

                }
                //if (v.colour == 'black') {
                //    v.colour = 'white';
                //}
                $("#SubTable").append("<tr><td>" + v.TaskDate + "</td><td><select id='uc1_ddlTask' class='lookup form-control' selected></select></td><td><div class='flex'><input class='form-control uc1txtHours' name='hrs' type='number' title='Enter hours' maxlength='2' min='0' max='24' id='uc1_txtHours" + k + "' value=" + v.NoofHoursWorked + "  style='width: 56px;'><span id='ts_colourcode" + k + "' title=" + v.colour + " style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td><td >&nbsp</td></td>");

                counter15 = counter15 + 1;


            }
            else {

                if (counter == -1) {
                    $("#SubTable").append("</table>")
                    $("#SubTable").append("</td>")
                    $("#MainTable").append("<td id='td2'><table id='SubTable2' width='100%' class='evAdminTable1'><tr style='background-color:black;color:white'><th width='160' text-align='center' class='evAdminTable'>Date </th> <th class='evAdminTable'>Task </th> <th width='50'class='evAdminTable'>Hours</th></tr>");
                }
                //if (v.colour == 'black') {
                //    v.colour = 'white';
                //}
                $("#SubTable2").append("<tr><td>" + v.TaskDate + "</td><td><select class='lookup form-control' selected  id='uc1_ddlTask'  selected ></select></td><td><div class='flex'><input class='form-control uc1txtHours' name='hrs' type='number' title='Enter hours' maxlength='2' min='0' max='24' id='uc1_txtHours" + k + "' value=" + v.NoofHoursWorked + "  style='width: 56px;'><span id='ts_colourcode" + k + "' title=" + v.colour + " style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td><td >&nbsp</td></td>");
                // $('#uc1_ddlTask' + k).append('<option value="' + v.Taskid + '">' + v.Taskname + '</option>');
                counter = counter + 1;

            }

        });

        //ByMonthlycalculateSum();
        $(":input").bind('keyup mouseup', function () {
            //ByMonthlycalculateSum();

        });
        "</table>" + + "<hr />"
        $("#MainTable").append("</tr></table>") + "<hr />";
    }


    function ByMonthlycalculateSum() {

        var sum = 0;
        $(".uc1txtHours").each(function () {
            //add only if the value is number
            if (!isNaN(this.value) && this.value.length != 0) {
                sum += parseFloat(this.value);
            }
        });
        //.toFixed() method will roundoff the final sum to 2 decimal places
        $("#TotalHoursCount").html(sum.toFixed(2));
    }




    function LoadmonthlyTaskData() {


        if (resultDataArray && resultDataArray.length > 0) {

            $.each(resultDataArray, function (index, value) {
                $('#uc1_ddlTask' + index).val(value.Taskid).attr("selected", "selected");
            });
        }
    }
    function ByMonthlyLoadHoursWorkedAcctoDate(tsuserid, Timesheetstartdate, Timesheetenddate, accountid, projectid) {
        $.ajax({
            url: "/Timesheet/LoadColourBymonthly",
            type: "GET",
            data: { Timesheetstartdate: Timesheetstartdate, TimesheetEnddate: Timesheetenddate, TimesheetUserid: tsuserid, accountid: accountid, projectid: projectid },
            contentType: 'application/json; charset=utf-8',
            dataType: 'JSON',
            async: false,
            // cache: false,

            success: function (resultData) {
                resultHoursWorkedColourArray = resultData

            },

        });
    }



    function PreviewSubmittedByweeklyTimesheet(MonthTimesheet, resultData) {

        $("#divbyweeklydates").hide();
        $('#divMonthYear').hide();
        $('#btnChangeDate').show();
        $('#btnPrint').hide();
        $('#btnpdf').hide();
        //$('#btnPrint').show();
        //$('#btnpdf').show();
        $('#TotHrs').show();
        $('#submit').hide();
        $('#btnPreview').hide();
        $("#StardateToEnddate").empty();
        $("#tabCon").empty();
        $("#MainTable").empty();
        $("#SubTable").empty();
        var tbltask = ''; var objSelect = '';
        $('#Cmtsave').show();
        var counter = -1;
        var counter15 = -1;
        $("#ClientDetails").show(true);
        $("#tabCon").append("<table name='maintbl' id='MainTable' width='100%' /*style='position:relative;left:10%;'*/>");
        $.each(resultData, function (k, v) {

            $("#StardateToEnddate").html("<span id='StartToEnd'><b>Timesheet of " + v.UserName + " for the Period of " + v.TotalMonthName + "</b></span>");
            $('#Timesheet_Duration').html(v.TotalMonthName);
            if (timesheetmode == 2) {
                $("#Timesheet_dvTSMode").html("Bi-Weekly");
            }
            $("#txtDescription").val(v.Comments);
            $('#ts_ManagerNamesid1').html(v.ManagerName1);
            $("#ts_Approveid").hide();
            $("#ts_Submittedid").hide();
            $("#ts_approid").hide();
            $("#ts_submited").hide();

            if (v.ManagerName2 != '0') {
                $('#ts_ManagerNamesid2').html(v.ManagerName2);
                $("b.ts_ManagerNamesid2").show();
                $("#ts_Manager2").show();
                //$('#ts_ManagerNamesid2').closest("b.ts_ManagerNamesid2").show();
            }
            else {
                $('#ts_ManagerNamesid2').html("");
                $("b.ts_ManagerNamesid2").hide();
                $("#ts_Manager2").hide();
            }

            if (k <= 6) {
                tbltask = 'uc1_ddlTask' + k;
                if (counter15 == -1) {
                    $("#MainTable").append("<td id='td1'>" +
                        "<table id='SubTable' width='100%' class='evAdminTable1'><tr style='background-color:black;color:white'><th width='160' text-align='center' class='evAdminTable'>Date </th> <th class='evAdminTable'>Task </th> <th width='50' class='evAdminTable'>Hours </th></tr>");
                }


                $("#SubTable").append("<tr><td class='colored'>" + v.MonthYearName + "</td><td class='colored'  id='uc1_ddlTask" + k + "'>" + v.Taskname + "</td><div class='flex'><td class='colored' class='form-control uc1txtHours' name='uc1txtHours' id='uc1_txtHours" + k + "'><font>" + v.NoofHoursWorked + "</font><span id='HoursColours" + k + "' title=" + v.colour + " style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td></td>");
                counter15 = counter15 + 1;


            }
            else if (k > 7) {

                tbltask = 'uc1_ddlTask' + k;
                if (counter == -1) {
                    $("#SubTable").append("</table>")
                    $("#SubTable").append("</td>")
                    $("#MainTable").append("<td id='td2'><table id='SubTable2' /*style='position:relative;top:19px;'*/ width='100%' class='evAdminTable1'><tr style='background-color:black;color:white'><th width='160' text-align='center' class='evAdminTable'>Date </th> <th class='evAdminTable'>Task </th> <th width='50'class='evAdminTable'>Hours</th></tr>");
                }
                $("#SubTable2").append("<tr><td class='colored'>" + v.MonthYearName + "</td><td class='colored'  id='uc1_ddlTask" + k + "'>" + v.Taskname + "</td><div class='flex'><td class='colored' class='form-control uc1txtHours' name='uc1txtHours' id='uc1_txtHours" + k + "'><font>" + v.NoofHoursWorked + "</font><span id='HoursColours" + k + "' title=" + v.colour + " style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td></td>");
                //   $("#SubTable2").append("<tr><td class='colored'>" + v.MonthYearName + "</td><td id='uc1_ddlTask" + k + "'  class='colored lookup'>" + v.Taskname + "</td><td  class='colored uc1txtHours' name='uc1txtHours'  id='uc1_txtHours" + k + "'><font>" + v.NoofHoursWorked + "</font><span id='HoursColours" + k + "' style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td></td>");

                counter = counter + 1;


            }


            //  $('#txtDescription').val(v.Comments).attr("disabled", "true");


        });

        ByMonthlyHoursDataColours();
        ByMonthlyCalculateTtlLeaves();
        "</table>" + + "<hr />"
        $("#MainTable").append("</tr></table>") + "<hr />";
        $('table[id="SubTable"] tr > td:last-child').css("display", "table-cell");
        $('table[id="SubTable2"] tr > td:last-child').css("display", "table-cell");

        if (resultDataArrayUploadimages.length == 0) {
            $("#images,#previewFlImage,#imagestwo,#previewFlImage1").hide();
        }
        else if (resultDataArrayUploadimages.length == 1) {
            var url;
            url = "/TimeSheetimages/" + resultDataArrayUploadimages[0].Uploadedimages;
            if (url !== null && url !== "") {
                $("#images").show();
                $('#previewFlImage').prop('src', url);
                $("#imagestwo,#previewFlImage1").hide();
            } else {
                $("#images,#previewFlImage").hide();
            }

        }
        else {

            $.each(resultDataArrayUploadimages, function (k, v) {
                
                var url;
                if (k == 0) {
                    url = "/TimeSheetimages/" + v.Uploadedimages;
                    if (url !== null && url !== "") {
                        $("#images").show();
                        $('#previewFlImage').prop('src', url);
                    } else {
                        $("#images,#previewFlImage").hide();
                    }
                }
                else {
                    url = "/TimeSheetimages/" + v.Uploadedimages;
                    if (url !== null && url !== "") {
                        $("#imagestwo").show();
                        $('#previewFlImage1').prop('src', url);
                    } else {
                        $("#imagestwo,#previewFlImage1").hide();
                    }
                }

            });
        }




    }

    function ByMonthlyCalculateTtlLeaves() {
        var sum = 0;
        $("td.colored[name='uc1txtHours'] > font").each(function () {
            //sum += Number($(this).val()) || 0;
            sum += parseInt($(this).text());

        });
        $("#TotalHoursCount").html(sum);
    }

    function ByMonthlyHoursDataColours() {
        $.each(resultHoursWorkedColourArray, function (index, value) {
            ////if (value.colour == 'black') {
            ////    value.colour = 'white';
            ////}
            $('#HoursColours' + index).attr('style', 'font-size:25px;line-height:25px;color:' + value.colour);
            $('#HoursColours' + index).attr('title', value.colour);
        });

    }

    function AddByMonthlyTimesheets(id) {

        
        var files = $("#flImage").get(0).files;
        var formData = new FormData();

        for (var i = 0; i < files.length; i++) {
            formData.append("fileInput", files[i]);
        }
        $.ajax({
            type: 'post',
            url: '/Timesheet/SaveToTemp',
            data: formData,
            success: function (response) {
                if (response != null) {
                    var my_path = "/temp/" + response;
                    var image = '<img src="' + my_path + '" alt="image" style="width:150px">';
                    $("#imgPreview").append(image);
                }
            },
            processData: false,
            contentType: false,
            error: function () {
                alert("Whoops something went wrong!");
            }
        });


        if (id == '1') {
            Submittedtype = 'Save';
        }
        if (id == '2') {

            Submittedtype = 'Submit';
        }
        var Commentss = $.trim($("#txtDescription").val());
        var Projectid = SessionProjectid;
        var rows = $("#SubTable,#SubTable2").find("tr");
        var listtimesheetdetails = []; var rowData = {}; var Date, TaskId, hours, workingHours;
        var satdates = [];
        for (var rowOn = 1; rowOn < rows.length; rowOn++) {
            workingHours = $(rows[rowOn]).find('.uc1txtHours').attr('id');
            colourcode = $(rows[rowOn]).find('span').attr('title');
            Date = $(rows[rowOn]).find("td").eq(0).text();
            TaskId = $(rows[rowOn]).find("#uc1_ddlTask option:selected").val();
            // hours = $(rows[rowOn]).find("input").val();
            hours = $("#" + workingHours).val();
            if (hours == "") {
                if (!$.trim(this.value)) {
                    alert("Please enter working hours");
                    $("#" + workingHours).val('');
                    $("#" + workingHours).focus('');
                    calculateSum();
                    return false;
                }
            }
            if (hours != "") {
                if (hours < 0) {
                    alert("Working hours should be not be less than zero");
                    $("#" + workingHours).val('');
                    $("#" + workingHours).focus('');
                    calculateSum();
                    return false;
                }
            }
            if (hours != "") {
                if (hours > 24) {
                    alert("Working hours should not be greater than 24 hours");
                    $("#" + workingHours).val('');
                    $("#" + workingHours).focus('');
                    calculateSum();
                    return false;
                }
            }
          
            if ((colourcode == "blue" && colourcode != undefined) || (colourcode == "black" && colourcode != undefined) || (colourcode == "Red" && colourcode != undefined)) {

                if (hours > 0) {
                    satdates.push(Date);


                    hours = $("#" + workingHours).val();
                    ByMonthlycalculateSum();




                }
            }
            if (rowOn != 8) {
                if (TaskId != undefined && hours != undefined && Date != null) {
                    rowData = { taskDate: Date, taskid: TaskId, hoursWorked: hours, ProjectID: Projectid }
                }
            }
            else {
                continue;
            }

            listtimesheetdetails.push(rowData);
        }


      
        if (satdates.length != 0) {
            if (confirm("Do you want to enter hours for " + satdates + " ?")) {

                $("span[id^='HoursColours'][title='black']").closest('tr').removeClass("brown");

            } else {
                $("span[id^='HoursColours'][title='black']").closest('tr').addClass("brown");
                return false;
            }
        }

        var timesheets = {
            UserID: SessionUsrid,
            TimeSheetMonth: timesheetStartDate,
            ByWeeklyStartDate: timesheetStartDate,
            ByWeeklyEndDate: timesheetEnddate,
            Comments: Commentss,
            SubmittedType: Submittedtype,
            TimesheetMode: '2',
            ClientProjectId: '@TempData["Cprojid"]',
        }

        var sheetObj =
        {
            timesheets: timesheets,
            listtimesheetdetails: listtimesheetdetails,

        };
        var mode = 2;
        $('#loading-image').attr("style", "display: block;");
        $.ajax({
            type: "POST",
            url: "/Timesheet/AddSubmitTimesheet",
            data: JSON.stringify(sheetObj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                
                alert(data);
                //window.location = '/Timesheet/PreviewWeeklyTimesheets?mode=' + mode;
                //window.location = '/Timesheet/PreviewWeeklyTimesheets';
                window.location = '/Timesheet/PreviewTimesheets';
                
            }
            ,
            complete: function () {
                $('#loading-image').attr("style", "display: none;");
            },
        });

    }
    function updateByMonthlyTimesheet(id) {
        var files = $("#flImage").get(0).files;
        var formData = new FormData();

        for (var i = 0; i < files.length; i++) {
            formData.append("fileInput", files[i]);
        }
        $.ajax({
            type: 'post',
            url: '/Timesheet/SaveToTemp',
            data: formData,
            success: function (response) {
                if (response != null) {
                    var my_path = "/temp/" + response;
                    var image = '<img src="' + my_path + '" alt="image" style="width:150px">';
                    $("#imgPreview").append(image);
                }
            },
            processData: false,
            contentType: false,
            error: function () {
                alert("Whoops something went wrong!");
            }
        });

        if (id == '1') {
            Submittedtype = 'Save';
        }
        if (id == '2') {

            Submittedtype = 'Submit';
        }

        Commentss = $.trim($("#txtDescription").val());

     


        var rows = $("#SubTable,#SubTable2").find("tr");

        var listtimesheetdetails = []; var rowData = {}; var Date, TaskId, hours;
        var satdates = [];
        for (var rowOn = 1; rowOn < rows.length; rowOn++) {

            TaskLookupId = $(rows[rowOn]).find('.lookup').attr('id');
            workingHours = $(rows[rowOn]).find('.uc1txtHours').attr('id');
            colourcode = $(rows[rowOn]).find('span').attr('title');

            Date = $(rows[rowOn]).find("td").eq(0).text();

            TaskId = $("#" + TaskLookupId).val();

            hours = $("#" + workingHours).val();

            if (hours == "") {
                if (!$.trim(this.value)) {
                    alert("Please enter working hours");
                    $(".uc1txtHours").focus();
                    calculateSum();
                    return false;
                }
            }

            if (hours != "") {
                if (hours < 0) {
                    alert("Working hours should be not be less than zero");
                    $("#" + workingHours).val('');
                    $("#uc1_txtHours").focus();
                    calculateSum();
                    return false;
                }
            }



            if (hours != "") {
                if (hours > 24) {
                    alert("Working hours should not be greater than 24 hours");
                    $("#" + workingHours).val('');
                    $("#uc1_txtHours").focus();
                    calculateSum();
                    return false;
                }
            }
            if ((colourcode == "blue" && colourcode != undefined) || (colourcode == "black" && colourcode != undefined) || (colourcode == "Red" && colourcode != undefined)) {

                if (hours > 0) {
                    satdates.push(Date);


                    hours = $("#" + workingHours).val();
                    ByMonthlycalculateSum();




                }
            }

            if (TaskId != undefined && hours != undefined && Date != null) {
                rowData = { taskDate: Date, taskid: TaskId, hoursWorked: hours }
            }
            listtimesheetdetails.push(rowData);
        }

      
        if (satdates.length != 0) {
            if (confirm("Do you want to enter hours for " + satdates + " ?")) {

                $("span[id^='HoursColours'][title='black']").closest('tr').removeClass("brown");

            } else {
                $("span[id^='HoursColours'][title='black']").closest('tr').addClass("brown");
                return false;
            }
        }

        var timesheets = {
            TimesheetID: hidtimesheet,
            ByWeeklyStartDate: timesheetStartDate,
            ByWeeklyEndDate: timesheetEnddate,
            TimeSheetMonth: timesheetStartDate,
            Comments: Commentss,
            SubmittedType: Submittedtype,
            TimesheetMode: '3',

        }

        var sheetObj = {
            timesheets: timesheets,
            listtimesheetdetails: listtimesheetdetails

        };
        $('#loading-image').attr("style", "display: block;");

        $.ajax({
            type: "POST",
            url: "/Timesheet/updateTimesheetTaskDetails",
            data: JSON.stringify(sheetObj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                alert(data);
                window.location.reload();

            },
            complete: function () {
                $('#loading-image').attr("style", "display: none;");

            }
        });


    }

    function LoadsubmittedBymonthlyTimesheets(MonthTimesheet, newclientprjid) {
        
        $("#btnPrint").show();
        $("#btnpdf").show();
        $('#ts_ClientNameid').html(sessionProjectName);
        $('#ts_ProjectNameid').html(Sessionclientname);
        $("#imagelbl").hide();
        $("#images").hide();
        //$("#flImage1").hide();

        $("#imagelbl1").hide();
        $("#images1").hide();
        //var e = document.getElementById("byWeeklyDates");
        //byweeklydates = e.options[e.selectedIndex].text;
        //var Timesheetmonarray2 = new Array();
        //Timesheetmonarray2 = byweeklydates.split("-");

        $.ajax({
            url: "/Timesheet/ViewByWeeklySubmitedTimesheet",
            type: "GET",
            data: {
                //TimesheetUserid: SessionUsrid,
                //Timesheetstartdate: Timesheetmonarray2[0],
                //TimesheetEnddate: Timesheetmonarray2[1],
                //Accountid: SessionAccountid,
                //Projectid: SessionProjectid
                TimesheetUserid: SessionUsrid,
                Timesheetstartdate: timesheetStartDate,
                TimesheetEnddate: timesheetEnddate,
                Accountid: SessionAccountid,
                Projectid: SessionProjectid,
                ClientProjectId: newclientprjid
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'JSON',
            async: false,
            // cache: false,

            success: function (resultData) {
                resultDataArray = resultData.timeSheetDetails;
                resultDataArrayUploadimages = resultData.UploadTimesheetimage;
                ByMonthlyLoadHoursWorkedAcctoDate(SessionUsrid, timesheetStartDate, timesheetEnddate, SessionAccountid, SessionProjectid);
                PreviewSubmittedByweeklyTimesheet(timesheetEnddate, resultDataArray);
            },
        });
        LoadBymonthlySubmittedTaskData();
    }
   
    function closebtn() {
        window.location.href = "/Timesheet/Usertimesheet";
    }
    function LoadBymonthlySubmittedTaskData() {

        if (resultDataArray && resultDataArray.length > 0) {

            $.each(resultDataArray, function (index, value) {

                $('#uc1_ddlTask' + index).val(value.Taskid).attr("selected", "true");
                $('#uc1_txtHours' + index).val(value.NoofHoursWorked).attr("selected", "true");

            });
        }
    }
   
</script>