
@{
    ViewBag.Title = "MonthlyUserDataTimeSheet";
}
<link href="~/TimeSheetStyles/MonthlyTimeSheetStyle.css" rel="stylesheet" />

<div id="loading-image" style="display:none">
    <span></span>
    <strong>Loading Please Wait....</strong>
</div>

<div class="block-content" id="PdfPrint">

    <div class="">
        <h4 class="heading-fancy"> Submit Timesheet </h4>
    </div>

    <div id="dvTimesheetid"><span id="dvTimesheetids" style="display:none"> </span></div>
    <div class="clearfix">
        <div id="StardateToEnddate" style="color:coral;font-size:large;float:left;width: 90%;text-align:center;font-weight:600"></div>

    </div>
    <table cellspacing="0" cellpadding="0" border="0" id="ClientDetails" style="display:none;">
        <tbody>
            <tr>
                <td align="right" width="100" class="alt">
                    <b>Client Name:</b>
                    <b>Project Name:</b>

                </td>
                <td>

                    <div id="ts_ClientNameid">  </div>
                    <div id="ts_ProjectNameid"></div>

                </td>
                <td align="right" width="110" class="alt">
                    <b>Manager 1:</b>
                    @*<b id="ts_Manager2">Manager 2:</b>*@
                    <b>Manager 2:</b>


                    @*<b id="ts_submited">Submitted on:</b>*@
                </td>
                <td>
                    <div id="ts_ManagerNamesid1"></div>
                    <div id="ts_ManagerNamesid2"></div>

                    @*<div id="ts_Submittedid"></div>*@
                </td>
                <td width="100" align="right" class="alt">

                    <b>Duration :</b>
                    <b>Approved on:</b>

                </td>
                <td>
                    <div id="Timesheet_Duration"></div>
                    <div id="ts_Approveid"></div>
                </td>

                <td width="100" align="right" class="alt">

                    <b>Timesheet Mode :</b>
                    <b>Status :</b>
                </td>

                <td>
                    <div id="Timesheet_dvTSMode"></div>
                    @*<div id="TimesheetApprovalStatus"></div>*@
                    <div id="full.TimesheetApprovalStatus"></div>
                    @*<div class="sorting"></div>*@


                </td>

            </tr>
        </tbody>



    </table>
    <div class="row">

    </div>
    <div class="box-body no-padding" id="body">
        <div class="row">
            @*<div class="col-md-4">
                <div id="xyz">
                    <label for="ProjectID" class="col-md-4 control-label no-padding" style="margin:6px 0;">Projects : </label>


                    @Html.DropDownList("AssignedProjects", new SelectList(ViewBag.AssignedProjs, "clientprojId", "CL_ProjectTitle"), "Select Project", new { @class = "form-control col-md-8" })

                </div>
            </div>*@
            <div class="col-md-8" id="yearmonthBind" style="display:none">
                <div class="row">
                    <div class="col-md-8">
                        <div id="divMonthYear">
                            <div id="divhiduserid" style="display:none"><input type="hidden" id="hidUserid">/>@Model.User_ID</div>


                            <label for="inputPassword3" class="col-md-2 control-label">Year : </label>

                            <select class="form-control col-md-4" name="year" id="year"></select>


                            <label for="inputPassword3" class="col-md-2 control-label">Month : </label>

                            <select class="form-control col-md-4" name="month" id="month"></select>


                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <button class="btn btn-success margin-r-5" id="submit" value="1" onclick="CheckTimesheetexits()">Load</button>
                        <a class="btn btn-warning" id="btnPreview" value="1" onclick="LoadAllTimesheets()">View Timesheets</a>
                    </div>
                </div>
            </div>



            <div class="col-md-8" id="BiWeeklyBind" style="display:none">
                <div class="col-md-4">
                    <div id="divbyweeklydates">
                        <label for="inputPassword3" class="col-md-4 control-label no-padding" style="margin:6px 0;">Bi-Weekly Dates : </label>
                        <select class="Task form-control col-md-8" name="Weekly" id="byWeeklyDates" onload="ValidateUserforTimesheetMode()"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-success margin-r-5" id="submit" value="1" onclick="BiWeeklyheetexits()">Load</button>
                    <a class="btn btn-warning" id="btnPreview" value="1" onclick="BiWeeklyLoadAllTimesheets()">Preview Timesheets</a>
                </div>
            </div>

            <div class="col-md-8" id="WeeklyBind" style="display:none">
                <div class="col-md-4">
                    <div id="divbyweeklydates">
                        <label for="inputPassword3" class="col-md-4 control-label no-padding" style=" margin: 6px 0; ">Weekly Dates : </label>
                        <select class="Task form-control col-md-8" name="Weekly" id="WeeklyDates" onload="BindWeeklyTimesheetMode()"></select>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success margin-r-5" id="submit" value="1" onclick="Weeklysheetexits()">Load</button>
                        <a class="btn btn-warning" id="btnPreview" value="1" onclick="LoadAllWeeklyTimesheets()">Preview Timesheets</a>
                    </div>
                </div>
            </div>


            <div class="col-md-8" id="BiMonthly" style="display:none">
                <div class="col-md-4">
                    <div id="divbyweeklydates">
                        <label for="inputPassword3" class="col-md-4 control-label no-padding" style="margin:6px 0;">Bi-Monthly Dates : </label>
                        <select class="Task form-control col-md-8" name="Weekly" id="BiMonthlyDates" onload="BiMonthlyTimeSheet()"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-success margin-r-5" id="submit" value="1" onclick="BiMonthlysheetexits()">Load</button>
                    <a class="btn btn-warning" id="btnPreview" value="1" onclick="LoadAllBiMonthlyTimesheets()">Preview Timesheets</a>
                </div>
            </div>
        </div>

        <div id="divhidFday" style="display:none">
            <p> <label id="fday"></label></p>
        </div>
        <div class="clearfix text-right">
            <button type='submit' id='btnPrint' name='bntPrint' title="Click here to print" class='evInputBtn btn-warning' onClick='print_page()' style="display:none;"><i class="fa fa-print"></i></button>
            <button type='submit' name='btnpdf' id='btnpdf' title="Click here to pdf" class='evInputBtn btn-danger' style="display:none;"><i class="fa fa-file-pdf-o"></i></button>
            <button class="btn btn-warning" id="btnChangeDate" value="2" name="ChangeDate" style="display:none;">Change Date</button>
        </div>
        <div id="tabCon"></div>
        <div id="TotHrs" style="float:right;position:relative;right:19px;font-size:large;display:none"><label>Total Working Hours:</label>&nbsp;&nbsp;<label name="totCount" id="TotalHoursCount"></label></div>

    </div>


    <div id="footer">

        <div id='Cmtsave' style="display:none">
            <label style='color:coral'>Additional Comments</label>
            <div>
                <textarea name='tnameDescription' rows='2' cols='20' id='txtDescription' style='width:100%;'></textarea>

            </div>
            <label class="" id="imagelbl" style="display:none">
                <i class="fa fa-image"></i> Upload Image1<input type="file" style="display: none;" id="flImage" name="ImageUpload">
            </label>

                                                  
            <a class='kin' href='javascript:;' id="images">
                <img id="previewFlImage" class="showimage" data-toggle='modal' data-target='#imgModal' />
            </a>




            <label class="" id="imagelbl1" style="display:none">
                <i class="fa fa-image"></i> Upload Image2<input type="file" style="display: none;" id="flImage1" name="ImageUpload">
            </label>

            <a class='kin' href='javascript:;' id="imagestwo">
                <img id="previewFlImage1" class="showimage" data-toggle='modal' data-target='#imgModal' />
            </a>


            <div class='clearfix' style='padding: 10px;text-align:right;'>
                <fieldset class="note-status">
                    <legend>Note :</legend>
                    <label class="green">Work from Home</label>
                    <label class="red">Leaves</label>
                    <label class="blue">Holidays</label>
                </fieldset>
                <input type='submit' name='btnSave' value='Save &amp; Close' onclick=ConfirmSendTimesheet('1') id='btnSave' class='evInputBtn' />
                &nbsp;&nbsp;
                <input type='submit' name='btnSend' value='Save &amp; Submit Timesheet' onclick=ConfirmSendTimesheet('2') id='btnSend' class='evInputBtn' />
                &nbsp;&nbsp;
                <input type='submit' name='SaveUpdate' value='Save &amp;Update' id='btnSaveUpdate' onclick=updateTimesheet('1') style="display:none" class='evInputBtn' />
                &nbsp;&nbsp;
                <input type='submit' name='SubmitUpdate' value='Submit&amp;Update' id='btnSubmitUpdate' onclick=updateTimesheet('2') style="display:none" class='evInputBtn' />
                &nbsp;&nbsp;
                <input type='submit' id='btnclose' name='bntClose' value='Close' title="Close" class='evInputBtn' data-target="#warningmsg" data-toggle="modal" />


            </div>

        </div>
    </div>





</div>
<div id="warningmsg" class="modal" role="dialog">
    <div class="modal-dialog">
        <div id="divAdv" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body">
                <h3>Do you really want to close the window.</h3>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-clr" data-dismiss="modal" value="1" onclick="closebtn();">Yes</button>
                <button type="button" class="btn btn-clr1" value="2" data-dismiss="modal" id="cancel">No</button>
            </div>
        </div>
    </div>
</div>
<aside class="control-sidebar control-sidebar-dark">
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>

</aside>
<div id="imgModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img id="showimage" class="showimage img-responsive" style="margin:auto;height:25em" src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="control-sidebar-bg"></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script>
    $(document).ready(function () {
        $('a#images.kin').on('click', function () {
            $('#showimage').attr('src', $(this).find('img#previewFlImage').attr('src'));
        });

        $('a#imagestwo.kin').on('click', function () {
            $('#showimage').attr('src', $(this).find('img#previewFlImage1').attr('src'));
        });

        
        function readURL(input) {

            var urlInput = $(input).val();
            var ext = urlInput.substring(urlInput.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {

                    $('#previewFlImage').attr('src', e.target.result);
                    $("#btnSave").removeAttr("disabled", "disabled");
                    $("#btnSend").removeAttr("disabled", "disabled");
                    $("#btnSaveUpdate").removeAttr("disabled", "disabled");
                    $("#Submit&Update").removeAttr("disabled", "disabled");


                }

                reader.readAsDataURL(input.files[0]);
            } else {
                $('#previewFlImage').removeAttr('src');
                $("#btnSave").attr("disabled", "disabled");
                $("#btnSend").attr("disabled", "disabled");
                $("#btnSaveUpdate").attr("disabled", "disabled");
                $("#Submit&Update").attr("disabled", "disabled");

            }
        }



        function ImagereadURL(input) {

            var urlInput = $(input).val();
            var ext = urlInput.substring(urlInput.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {

                    $('#previewFlImage1').attr('src', e.target.result);
                    $("#btnSave").removeAttr("disabled", "disabled");
                    $("#btnSend").removeAttr("disabled", "disabled");
                    $("#btnSaveUpdate").removeAttr("disabled", "disabled");
                    $("#Submit&Update").removeAttr("disabled", "disabled");


                }

                reader.readAsDataURL(input.files[0]);
            } else {
                $('#previewFlImage1').removeAttr('src');
                $("#btnSave").attr("disabled", "disabled");
                $("#btnSend").attr("disabled", "disabled");
                $("#btnSaveUpdate").attr("disabled", "disabled");
                $("#Submit&Update").attr("disabled", "disabled");

            }
        }

        $("#flImage").change(function () {
            readURL(this);
        });

        $("#flImage1").change(function () {
            ImagereadURL(this);
        });

        


    });
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }



    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }


    function print_page() {
        window.print();
    }

    $("body").on("click", "#btnpdf", function () {
        html2canvas($('#PdfPrint')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Timesheet.pdf");
            }
        });
    });

</script>

<script type="text/javascript">

    
    var resultDataArray; var hidtimesheet; var Submittedtype = ""; var getData; var MonthYear = '';
    var id =@Model.tsktaskID; var sessionuserid = @Model.User_ID;
    var sessionprojectid = "@Model.projectName"; var sessionusername = "@Model.Usr_Username";var sessionClientprojectid = "@Model.ProjectClientName";
    var TaskLookupId = "", workingHours = "", Commentss = "";
    var resultHoursWorkedColourArray; var resultDataArrayUploadimages; var colourcode = '';
    var myprojId ='@ViewBag.prjid';
    var clienr = '@Model.Proj_ProjectID'
      
    
    var assignedclientid='@ViewBag.ClientProjectid';
    var timesheetyear = '@ViewBag.year';
    var timesheetmonth = '@ViewBag.month';
    
    $(document).ready(function () {
       
       CheckTimesheetexits();
    });

    function LoadAllTimesheets()
    {
        window.location = '/Timesheet/PreviewTimesheets';

    }
    function LoadAllBiMonthlyTimesheets() {
        window.location = '/Timesheet/PreviewBymonthlytimesheets15days';
    }

    function LoadAllWeeklyTimesheets() {
        window.location = '/Timesheet/WeeklyTimesheets';
    }

    function BiWeeklyLoadAllTimesheets() {
        window.location.href = "/Timesheet/PreviewTimesheets"
    }


    $("#btnChangeDate").on("click", function () {
        $("#body").show();
        $('#divMonthYear').show();
        $('#btnChangeDate').hide();
        $('#btnPrint').hide();
        $('#btnpdf').hide();
        $('#btnPreview').show();
        $('#submit').show();
        $('#TotHrs').hide();
        $("#MainTable").html("");
        $("#SubTable").html("");
        $("#tabCon").html("");
        $("#StardateToEnddate").html("");
        $("#ClientDetails").hide();
        $('#Cmtsave').hide();

    });

    //calculateSum
    function calculateSum()
     {

      var sum = 0;
        $(".uc1txtHours").each(function () {

          //add only if the value is number
            if (!isNaN(this.value) && this.value.length != 0)
            {
              sum += parseFloat(this.value);
            }

        });
      //.toFixed() method will roundoff the final sum to 2 decimal places
     $("#TotalHoursCount").html(sum.toFixed(2));
    }

    function CalculateTtlLeaves()
    {
        var sum = 0;
        $("td.colored[name='uc1txtHours'] > font").each(function ()
        {
            //sum += Number($(this).val()) || 0;
            sum += parseInt($(this).text());

        });
         $("#TotalHoursCount").html(sum);
    }

    //Load DropDown Tasks
    function LoadTasklookups()
    {

    $.ajax({
    type: "GET",
    url: "/Admin/getLookUp",
    datatype: "Json",
    //data: { id: id },
        success: function (data)
        {
        $.each(data, function (index, value)
        {

            $('.lookup').append('<option value="' + value.tsk_TaskID + '">' + value.tsk_TaskName + '</option>');
            $(".lookup option").each(function () {

                if ($(this).val() == id) {
                $(this).attr("selected", "selected");
                return;
                }
            });

          });
        },
    });
    }

    function CheckTimesheetexits()
    {
        
        var clientProjectid = assignedclientid;
        var month = timesheetmonth
        var year = timesheetyear;
        if (month <= 9) {

            MonthYear = year + '-' + "0" + month + '-' + '01';
        }
        else {

            MonthYear = year + '-' + month + '-' + '01';
        }

        var objDate = new Date(MonthYear),
            locale = "en-us",
            month = objDate.toLocaleString(locale, { month: "short" });

        $('#loading-image').attr("style", "display: block;");
        $.ajax({
            type: "GET",
            url: "/Timesheet/CheckTimesheetExits",
            data: { timesheetsdate: MonthYear, clientProjectid: clientProjectid},
            datatype: "Json",
            async: false,
            success: function (data) {
                
                if (data == '101') {
                    var r = confirm("TimeSheet for this month: " + month + " and year: " + year + " is already Submitted,\nDo you want to Preview?");
                    if (r == true) {
                        
                        $("#btnSave").attr("style", "display: none;");
                        $("#btnSend").attr("style", "display: none;");
                        $("#btnSaveUpdate").attr("style", "display: none;");
                        $("#btnSubmitUpdate").attr("style", "display: none;");
                        $("#txtDescription").attr('readonly', true);
                        LoadClientDetails();
                        PreviewAlreadysubmittedTimesheets(MonthYear, clientProjectid);
                    }

                }

                if (data == '102') {

                    var r = confirm("TimeSheet for this month: " + month + " and year: " + year + " is Saved already,\nDo you want to Submit the Timesheet?");
                    if (r == true)
                    {

                        $("#btnSave").attr("style", "display: none;");
                        $("#btnSend").attr("style", "display: none;");
                        $("#btnSaveUpdate").attr("style", "display: inline-block;");
                        $("#btnSubmitUpdate").attr("style", "display: inline-block;");
                        LoadClientDetails();
                        displaysavedTimesheets(MonthYear,  @Model.User_ID);

                    }


                }
                if (data == "103")
                {
                    LoadAllHoursWorkingByMonth(MonthYear);
                   


                }
            },
            complete: function () {
                $('#loading-image').attr("style", "display: none;");
            }

        });


    }
       // });


    function displaysavedTimesheets(MonthTimesheet, tsuserid)
    {
        var taskid = '';
        $("#btnPrint").hide();
        $("#btnpdf").hide();

        $('#ts_ClientNameid').html(sessionprojectid);
        $('#ts_ProjectNameid').html(sessionClientprojectid);

        $('#loading-image').attr("style", "display: block;");
        $.ajax({
            url: "/Timesheet/ViewSubmitedTimesheet",
            type: "GET",
            data: { TimesheetMonth: MonthTimesheet, TimesheetUserid: tsuserid },
            contentType: 'application/json; charset=utf-8',
            dataType: 'JSON',
            async: false,
            success: function (resultData) {
               // taskid = resultData[0].Taskid;

                resultDataArray = resultData.timeSheetDetails;
                resultDataArrayUploadimages = resultData.UploadTimesheetimage;

                resultDataArrayTID = resultData.TimesheetID;
                LoadHoursWorkedAcctoDate(MonthTimesheet, tsuserid);
                savedTimesheetsTable(MonthTimesheet, resultDataArray);
                LoadSavedTasks();
            },
            complete: function () {
                $('#loading-image').attr("style", "display: none;");
            }
        });
        LoadTaskData();

    }
    function LoadHoursWorkedAcctoDate(MonthTimesheet, tsuserid) {
        $.ajax({
            url: "/Timesheet/HoursWorkedTimesheet",
            type: "GET",
            data: { TimesheetMonth: MonthTimesheet, TimesheetUserid: tsuserid },
            contentType: 'application/json; charset=utf-8',
            dataType: 'JSON',
            async: false,
            // cache: false,

            success: function (resultData) {
                resultHoursWorkedColourArray = resultData

            },

        });
    }


    function savedTimesheetsTable(MonthTimesheet, resultData) {
        $('#divMonthYear').hide();
        $('#btnChangeDate').show();
        $('#btnPrint').hide();
        $('#btnpdf').hide();
        $('#TotHrs').show();
        $('#submit').hide();
        $('#btnPreview').hide();
        $("#StardateToEnddate").empty();
        $("#tabCon").empty();
        $('#Cmtsave').show();
        $("#MainTable").empty();
        $("#SubTable").empty();
        $("#images").show();
        $("#imagelbl").show();
       var tbltask = ''; var objSelect = '';

        var counter = -1;
        var counter15 = -1;
        $("#ClientDetails").show(true);
        $("#tabCon").append("<table name='maintbl' id='MainTable' width='100%'>");

        $.each(resultData, function (k, v) {
            hidtimesheet = v.TimesheetID;
            $('#dvTimesheetids').html(hidtimesheet);
            $('#Timesheet_Duration').html(v.TotalMonthName);
            $("#ts_Approveid").hide();
            $("#ts_Submittedid").hide();
            $("#ts_approid").hide();
            $("#ts_submited").hide();
            $('#ts_ManagerNamesid1').html(v.ManagerName1);
            if (v.ManagerName2 != '0') {
                $('#ts_ManagerNamesid2').html(v.ManagerName2);
                $("b.ts_ManagerNamesid2").show();
                $("#ts_Manager2").show();
            }
            else {
                $("#ts_ManagerNamesid2").hide();
                $('#ts_ManagerNamesid2').html("");
                $("#ts_Manager2").hide();
            }
            $("#StardateToEnddate").html("<span id='StartToEnd'><b>Timesheet of " + v.UserName + " for the Period of " + v.TotalMonthName + "</b></span>");
            $("#txtDescription").val(v.Comments);

            if (k <= 15) {
                tbltask = 'uc1_ddlTask' + k;

                if (counter15 == -1)
                {
                    $("#MainTable").append("<td id='td1'>" +
      "<table id='SubTable' width='100%' class='evAdminTable1'><tr style='background-color:black;color:white'><th width='160' text-align='center' class='evAdminTable'>Date </th> <th class='evAdminTable'>Task </th> <th width='50' class='evAdminTable'>Hours </th></tr>");
                }

                $("#SubTable").append("<tr><td>" + v.MonthYearName + "</td><td><select id='uc1_ddlTask" + k + "' class='form-control lookup' selected  ></select></td><td><div class='flex'><input class='form-control uc1txtHours' name='hrs' type='number' title='Enter hours' min='0' max='24' maxlength='2' id='uc1_txtHours" + k + "' value=" + v.NoofHoursWorked + "  style='width: 56px;'><span id='HoursColours" + k + "' title=" + v.colour + " style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td><td >&nbsp</td></td>");
                 counter15 = counter15 + 1;
            }
            else {

                tbltask = 'uc1_ddlTask' + k;
                if (counter == -1) {
                    $("#SubTable").append("</table>")
                    $("#SubTable").append("</td>")
                    $("#MainTable").append("<td id='td2'><table id='SubTable2' width='100%' class='evAdminTable1'><tr style='background-color:black;color:white'><th width='160' text-align='center' class='evAdminTable'>Date </th> <th class='evAdminTable'>Task </th> <th width='50'class='evAdminTable'>Hours</th></tr>");
                }

                $("#SubTable2").append("<tr><td>" + v.MonthYearName + "</td><td><select class='lookup form-control' selected  id='uc1_ddlTask" + k + "' class='form-control lookup' selected ></select></td><td><div class='flex'><input class='form-control uc1txtHours' title='Enter hours' name='hrs' type='number'   min='0' max='24'  maxlength='2' id='uc1_txtHours" + k + "'  value=" + v.NoofHoursWorked + " style='width: 56px;'><span id='HoursColours" + k + "' title=" + v.colour + " style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td><td>&nbsp</td></td>");
                // $('#uc1_ddlTask' + k).append('<option value="' + v.Taskid + '">' + v.Taskname + '</option>');
                counter = counter + 1;
            }

        });
        HoursDataColours();
        calculateSum();
        $(":input").bind('keyup mouseup', function () {
            calculateSum();

        });


        "</table>" + + "<hr />"
        $("#MainTable").append("</tr></table>") + "<hr />";
        if (resultDataArrayUploadimages.length == 0) {
            $("#images,#previewFlImage,#imagestwo,#previewFlImage1").hide();
        }
        else if (resultDataArrayUploadimages.length == 1) {
            var url;
            url = "/TimeSheetimages/" + resultDataArrayUploadimages[0].Uploadedimages;
            if (url !== null && url !== "") {
                $("#images").show();
                $('#previewFlImage').prop('src', url);
                $("#imagestwo,#previewFlImage1").hide();
            } else {
                $("#images,#previewFlImage").hide();
            }

        }
        else {

            $.each(resultDataArrayUploadimages, function (k, v) {
                
                var url;
                if (k == 0) {
                    url = "/TimeSheetimages/" + v.Uploadedimages;
                    if (url !== null && url !== "") {
                        $("#images").show();
                        $('#previewFlImage').prop('src', url);
                    } else {
                        $("#images,#previewFlImage").hide();
                    }
                }
                else {
                    url = "/TimeSheetimages/" + v.Uploadedimages;
                    if (url !== null && url !== "") {
                        $("#imagestwo").show();
                        $('#previewFlImage1').prop('src', url);
                    } else {
                        $("#imagestwo,#previewFlImage1").hide();
                    }
                }

            });
        }


    }

    function LoadSavedTasks()
    {
        $('#loading-image').attr("style", "display: block;");
        $.ajax({
            type: "GET",
            url: "/Admin/getLookUp",
            datatype: "Json",
            async: false,
            //data: { id: id },
            success: function (data) {

                $(data).each(function () {

                    $(".lookup").append($("<option></option>").val(this.tsk_TaskID).html(this.tsk_TaskName));

                });


            },
              complete: function () {
                $('#loading-image').attr("style", "display: none;");
            }
        });

    }

    function LoadTaskData() {

        if (resultDataArray && resultDataArray.length > 0) {

            $.each(resultDataArray, function (index, value) {

                $('#uc1_ddlTask' + index).val(value.Taskid).attr("selected", "selected");



            });
        }
    }

    function LoadSubmittedTaskData() {

        if (resultDataArray && resultDataArray.length > 0) {

            $.each(resultDataArray, function (index, value) {

                $('#uc1_ddlTask' + index).val(value.Taskid).attr("selected", "true");
                $('#uc1_txtHours' + index).val(value.NoofHoursWorked).attr("selected", "true");



            });
        }
    }


    function ConfirmSendTimesheet(id) {
        

           var files = $("#flImage").get(0).files;
           var formData = new FormData();

           for (var i = 0; i < files.length; i++) {
        formData.append("fileInput", files[i]);
    }
           $.ajax({
        type: 'post',
        url: '/Timesheet/SaveToTemp',
        data: formData,
        success: function (response) {
            if (response != null) {
                var my_path = "/temp/" + response;
                var image = '<img src="' + my_path + '" alt="image" style="width:150px">';
                $("#imgPreview").append(image);
            }
        },
        processData: false,
        contentType: false,
        error: function () {
            alert("Whoops something went wrong!");
        }
    });

           if (id == '1') {
        Submittedtype = 'Save';
    }
           if (id == '2') {

        Submittedtype = 'Submit';
    }
           var Commentss = $.trim($("#txtDescription").val());
           var Projectid =@Model.Proj_ProjectID;


           var rows = $("#SubTable,#SubTable2").find("tr");
           var listtimesheetdetails = []; var rowData = {}; var Date, TaskId, hours, workingHours;
           var satdates = [];

           for (var rowOn = 1; rowOn < rows.length; rowOn++) {
        workingHours = $(rows[rowOn]).find('.uc1txtHours').attr('id');
        colourcode = $(rows[rowOn]).find('span').attr('title');
        Date = $(rows[rowOn]).find("td").eq(0).text();
        TaskId = $(rows[rowOn]).find("#uc1_ddlTask option:selected").val();
        // hours = $(rows[rowOn]).find("input").val();
        hours = $("#" + workingHours).val();
        if (hours == "") {
            if (!$.trim(this.value)) {
                alert("Please enter working hours");
                $("#" + workingHours).val('');
                $("#" + workingHours).focus('');
                calculateSum();
                return false;
            }
        }
        if (hours != "") {
            if (hours < 0) {
                alert("Working hours should be not be less than zero");
                $("#" + workingHours).val('');
                $("#" + workingHours).focus('');
                calculateSum();
                return false;
            }
        }
        if (hours != "") {
            if (hours > 24) {
                alert("Working hours should not be greater than 24 hours");
                $("#" + workingHours).val('');
                $("#" + workingHours).focus('');
                calculateSum();
                return false;
            }
        }



        if ((colourcode == "blue" && colourcode != undefined)|| (colourcode == "black" && colourcode != undefined) || (colourcode == "Red" && colourcode != undefined) ){

            if (hours > 0) {
                satdates.push(Date);


                    hours = $("#" + workingHours).val();
                    calculateSum();




            }
        }



        if (rowOn != 17) {
            if (TaskId != undefined && hours != undefined && Date != null) {
                rowData = { taskDate: Date, taskid: TaskId, hoursWorked: hours, ProjectID: Projectid }
            }
        }
        else {
            continue;
        }

        listtimesheetdetails.push(rowData);
    }
           if (satdates.length != 0) {
        
        if (confirm("Do you want to enter hours for " + satdates + " ?")) {

            $("span[id^='HoursColours'][title='black']").closest('tr').removeClass("brown");

        } else {
            $("span[id^='HoursColours'][title='black']").closest('tr').addClass("brown");
            return false;
        }
    }

           console.log(satdates);
           var TsDate;
           //var month = $("#month").val();
           //var year = $("#year").val();

        var month = timesheetmonth;
        var year = timesheetyear;
       


           if (month <= 9) {

        TsDate = year + '-' + "0" + month + '-' + '01';
    }
           else {

        TsDate = year + '-' + month + '-' + '01';
        }
        
               var timesheets = {
               UserID: @Model.User_ID,
               TimeSheetMonth: TsDate ,
               Comments: Commentss,
               SubmittedType: Submittedtype,
               TimesheetMode: '1',
                   ClientProjectId: assignedclientid

           }
           //var uploadimages = [];
           //for (var i = 0; i < files.length; i++) {
           //    uploadimages.append("fileInput", files[i]);
           //}
           var cid;
           var sheetObj =
    {
        timesheets: timesheets,
        listtimesheetdetails: listtimesheetdetails,
        uploadimages: formData,

    };
           $('#loading-image').attr("style", "display: block;");
           $.ajax({
              type: "POST",
              url: "/Timesheet/AddSubmitTimesheet",
              data: JSON.stringify(sheetObj),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function (data) {
                  alert(data);
                  window.location = '/Timesheet/PreviewTimesheets';
    },
    complete: function () {
        $('#loading-image').attr("style", "display: none;");
    }
});

      }


    //////////////////////////////////////////////////////Update timesheet//////////////////////////////////////////

    function updateTimesheet(id)
    {
        var files = $("#flImage").get(0).files;
        var formData = new FormData();

        for (var i = 0; i < files.length; i++) {
            formData.append("fileInput", files[i]);
        }
        $.ajax({
            type: 'post',
            url: '/Timesheet/SaveToTemp',
            data: formData,
            success: function (response) {
                if (response != null) {
                    var my_path = "/temp/" + response;
                    var image = '<img src="' + my_path + '" alt="image" style="width:150px">';
                    $("#imgPreview").append(image);
                }
            },
            processData: false,
            contentType: false,
            error: function () {
                alert("Whoops something went wrong!");
            }
        });
        if (id == '1') {
            Submittedtype = 'Save';
        }
        if (id == '2') {

            Submittedtype = 'Submit';
        }

        Commentss = $.trim($("#txtDescription").val());


        //if (Commentss == "") {
        //    alert("Please enter comments");
        //    $("#txtDescription").focus();
        //    return false;
        //}
        var rows = $("#SubTable,#SubTable2").find("tr");

        var listtimesheetdetails = []; var rowData = {}; var Date, TaskId, hours;

        for (var rowOn = 1; rowOn < rows.length; rowOn++) {

            TaskLookupId = $(rows[rowOn]).find('.lookup').attr('id');
            workingHours = $(rows[rowOn]).find('.uc1txtHours').attr('id');
            colourcode = $(rows[rowOn]).find('span').attr('title');
            Date = $(rows[rowOn]).find("td").eq(0).text();

            TaskId = $("#" + TaskLookupId).val();

            hours = $("#" + workingHours).val();

            if (hours == "") {
                if (!$.trim(this.value)) {
                    alert("Please enter working hours");
                    $(".uc1txtHours").focus();
                    calculateSum();
                    return false;
                }
            }

            if (hours != "") {
                if (hours < 0) {
                    alert("Working hours should be not be less than zero");
                    $("#" + workingHours).val('');
                    $("#uc1_txtHours").focus();
                    calculateSum();
                    return false;
                }
            }



            if (hours != "") {
                if (hours > 24) {
                    alert("Working hours should not be greater than 24 hours");
                    $("#" + workingHours).val('');
                    $("#uc1_txtHours").focus();
                    calculateSum();
                    return false;
                }
            }


            if (colourcode == "black" && colourcode != undefined) {

                if (hours > 0) {
                    var r = confirm("Do you want to fill satday and sunday hours of " + Date + " ?");
                    if (r == true) {
                        hours = $("#" + workingHours).val();
                        calculateSum();

                    }
                    else {
                        return false;
                        calculateSum();

                    }

                }
            }


            if (colourcode == "blue" && colourcode != undefined) {

                if (hours > 0) {
                    var r = confirm("Do you want to fill holidaydate of " + Date + " ?");
                    if (r == true) {
                        hours = $("#" + workingHours).val();
                        calculateSum();

                    }
                    else {
                        return false;
                        calculateSum();

                    }

                }
            }

            if (colourcode == "Red" && colourcode != undefined) {

                if (hours > 0) {
                    var r = confirm("Do you want to fill leavedate of " + Date + "  ?");
                    if (r == true) {
                        hours = $("#" + workingHours).val();
                        calculateSum();

                    }
                    else {
                        return false;
                        calculateSum();

                    }

                }
            }


            if (rowOn != 17) {
                if (TaskId != undefined && hours != undefined && Date != null) {
                    rowData = { taskDate: Date, taskid: TaskId, hoursWorked: hours }
                }
            }
            else {
                continue;
            }
            listtimesheetdetails.push(rowData);
        }


        var timesheets = {
            TimesheetID: hidtimesheet,
            TimeSheetMonth: MonthYear,
            Comments: Commentss,
            SubmittedType: Submittedtype,
            TimesheetMode: '1',


        }

        var sheetObj = {
            timesheets: timesheets,
            listtimesheetdetails: listtimesheetdetails

        };
        $('#loading-image').attr("style", "display: block;");

        $.ajax({
            type: "POST",
            url: "/Timesheet/updateTimesheetTaskDetails",
            data: JSON.stringify(sheetObj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                alert(data);
                window.location.reload();

            } ,
            complete: function () {
                $('#loading-image').attr("style", "display: none;");

            }
        });


    }

    /////////////////////////////////////////checking timesheets for edit or preview////////////////////////////////////

    @*var objUserSessionId = ''; var resultsubmitstatus = '';
          $.ajax({
            url: "/User/GetPreviewTimesheets",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            dataType: 'JSON',
            // cache: false,
            success: function (resultData) {
                if (resultData.RoleName) {
                    objUserSessionId = resultData.RoleName
                    resultsubmitstatus = resultData.timesheets.TimesheetApprovalStatus

                   displaysavedTimesheets(MonthYear,  @Model.User_ID);
                }
            },
            error: function (data) {
                //  alert(data.responseText);
            }
        })*@






    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    function PreviewAlreadysubmittedTimesheets(MonthTimesheet, clientProjectid)
    {
        
        $("#btnPrint").show();
        $("#btnpdf").show();
        $('#ts_ClientNameid').html(sessionprojectid);
        $('#ts_ProjectNameid').html(sessionClientprojectid);
        $('#loading-image').attr("style", "display: block;");
        $.ajax({
            url: "/Timesheet/ViewSubmitedTimesheet",
            type: "GET",
            data: { TimesheetMonth: MonthTimesheet, TimesheetUserid: sessionuserid, clientProjectid: clientProjectid, TimesheetID: TimesheetID},
            contentType: 'application/json; charset=utf-8',
            dataType: 'JSON',
            async: false,
            // cache: false,

            success: function (resultData) {
                resultDataArray = resultData.timeSheetDetails;
                resultDataArrayUploadimages = resultData.UploadTimesheetimage;
                LoadHoursWorkedAcctoDate(MonthTimesheet, sessionuserid);
                PreviewTimesheetByMonth(MonthYear, resultDataArray);
               // LoadSavedTasks();

            } ,
            complete: function () {
                $('#loading-image').attr("style", "display: none;");
            }

        });
      LoadSubmittedTaskData();
    }



    function PreviewTimesheetByMonth(MonthTimesheet, resultData)
    {
        $("#images").show();
        $("#flImage").hide();
        $("#imagelbl").hide();
        $('#divMonthYear').hide();
        $('#btnChangeDate').show();
        $('#btnPrint').show();
        $('#btnpdf').show();
        $('#TotHrs').show();
        $('#submit').hide();
        $('#btnPreview').hide();
        $("#StardateToEnddate").empty();
        $("#tabCon").empty();
        $("#MainTable").empty();
        $("#SubTable").empty();
        var tbltask = ''; var objSelect = '';
        $('#Cmtsave').show();
        var counter = -1;
        var counter15 = -1;
        $("#ClientDetails").show(true);
        $("#tabCon").append("<table name='maintbl' id='MainTable' width='100%' /*style='position:relative;left:10%;'*/>");
        $.each(resultData, function (k, v)
        {
            //
            $("#StardateToEnddate").html("<span id='StartToEnd'><b>Timesheet of " + v.UserName + " for the Period of " + v.TotalMonthName + "</b></span>");
            $('#Timesheet_Duration').html(v.TotalMonthName);
            $("#txtDescription").val(v.Comments);
            $('#ts_ManagerNamesid1').html(v.ManagerName1);
            $("#ts_Approveid").hide();
            $("#ts_Submittedid").hide();
            $("#ts_approid").hide();
            $("#ts_submited").hide();

            if (v.ManagerName2 != '0') {
                $('#ts_ManagerNamesid2').html(v.ManagerName2);
                $("b.ts_ManagerNamesid2").show();
                $("#ts_Manager2").show();
                //$('#ts_ManagerNamesid2').closest("b.ts_ManagerNamesid2").show();
            }
            else {
                $('#ts_ManagerNamesid2').html("");
                $("b.ts_ManagerNamesid2").hide();
                $("#ts_Manager2").hide();
            }

            if (k <= 15) {
                tbltask = 'uc1_ddlTask' + k;
                if (counter15 == -1)
                {
                    $("#MainTable").append("<td id='td1'>" +
                        "<table id='SubTable' width='100%' class='evAdminTable1'><tr style='background-color:black;color:white'><th width='160' text-align='center' class='evAdminTable'>Date </th> <th class='evAdminTable'>Task </th> <th width='50' class='evAdminTable'>Hours </th></tr>");
                }


                $("#SubTable").append("<tr><td class='colored'>" + v.MonthYearName + "</td><td class='colored'  id='uc1_ddlTask" + k + "'>" + v.Taskname + "</td><div class='flex'><td class='colored' class='form-control uc1txtHours' name='uc1txtHours' id='uc1_txtHours" + k + "'><font>" + v.NoofHoursWorked + "</font><span id='HoursColours" + k + "' title='" + v.colour +"' style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td></td>");
                counter15 = counter15 + 1;


            }
            else if(k>15){

                tbltask = 'uc1_ddlTask' + k;
                if (counter == -1) {
                    $("#SubTable").append("</table>")
                    $("#SubTable").append("</td>")
                    $("#MainTable").append("<td id='td2'><table id='SubTable2' /*style='position:relative;top:19px;'*/ width='100%' class='evAdminTable1'><tr style='background-color:black;color:white'><th width='160' text-align='center' class='evAdminTable'>Date </th> <th class='evAdminTable'>Task </th> <th width='50'class='evAdminTable'>Hours</th></tr>");
                }
                $("#SubTable2").append("<tr><td class='colored'>" + v.MonthYearName + "</td><td id='uc1_ddlTask" + k + "'  class='colored lookup'>" + v.Taskname + "</td><td  class='colored uc1txtHours' name='uc1txtHours'  id='uc1_txtHours" + k + "'><font>" + v.NoofHoursWorked + "</font><span id='HoursColours" + k + "' title='" + v.colour +"' style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td></td>");
              //  $("#SubTable2").append("<tr><td>" + v.MonthYearName + "</td><td id='uc1_ddlTask" + k + "' class='lookup task form-control'></td><td class='form-control uc1txtHours'   id='uc1_txtHours" + k + "'  value=" + v.NoofHoursWorked + "  style='width: 56px;'><div class='flex'><span id='HoursColours" + k + "' style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td><td>&nbsp</td></td>");
                // $('#uc1_ddlTask' + k).append('<option value="' + v.Taskid + '">' + v.Taskname + '</option>');
                counter = counter + 1;


            }


          //  $('#txtDescription').val(v.Comments).attr("disabled", "true");


        });

        HoursDataColours();
        CalculateTtlLeaves();
        "</table>" + + "<hr />"
        $("#MainTable").append("</tr></table>") + "<hr />";
        $('table[id="SubTable"] tr > td:last-child').css("display", "table-cell");
        $('table[id="SubTable2"] tr > td:last-child').css("display", "table-cell");

        if (resultDataArrayUploadimages.length == 0) {
            $("#images,#previewFlImage,#imagestwo,#previewFlImage1").hide();
        }
        else if (resultDataArrayUploadimages.length == 1) {
            var url;
            url = "/TimeSheetimages/" + resultDataArrayUploadimages[0].Uploadedimages;
            if (url !== null && url !== "") {
                $("#images").show();
                $('#previewFlImage').prop('src', url);
                $("#imagestwo,#previewFlImage1").hide();
            } else {
                $("#images,#previewFlImage").hide();
            }

        }
        else {

            $.each(resultDataArrayUploadimages, function (k, v) {
                
                var url;
                if (k == 0) {
                    url = "/TimeSheetimages/" + v.Uploadedimages;
                    if (url !== null && url !== "") {
                        $("#images").show();
                        $('#previewFlImage').prop('src', url);
                    } else {
                        $("#images,#previewFlImage").hide();
                    }
                }
                else {
                    url = "/TimeSheetimages/" + v.Uploadedimages;
                    if (url !== null && url !== "") {
                        $("#imagestwo").show();
                        $('#previewFlImage1').prop('src', url);
                    } else {
                        $("#imagestwo,#previewFlImage1").hide();
                    }
                }

            });
        }
    }

    function LoadClientDetails()
    {
        $.ajax({
            type: "GET",
            url: "/Timesheet/Usertimesheet",
            datatype: "Json",
            success: function (data) {

            }
        });
    }


    function LoadAllHoursWorkingByMonth(MonthYear)
    {
        
        $("#btnPrint").hide();
        $("#btnpdf").hide();
        $('#ts_ClientNameid').html(sessionprojectid);
        $('#ts_ProjectNameid').html(sessionClientprojectid);

        $.ajax({
            type: "GET",
            url: "/Timesheet/GetHoursWorkedByCalender",
            data: {
                tdate: MonthYear, Userid:@Model.User_ID, cmpnyAccountid:@Model.Account_ID, UsrProjectId: myprojId, ClientprojID: assignedclientid
            },//@Model.Proj_ProjectID},s
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (resultData) {
                
                console.log(resultData);
                var datahourworked = resultData.timeSheetDetails;
                $('#ts_ManagerNamesid1').html(resultData.objEmpInfo.ManagerName1);
                $('#Timesheet_Duration').html(resultData.objEmpInfo.TotalMonthName);
                $("#StardateToEnddate").empty();
                $("#StardateToEnddate").html("<span id='StartToEnd'><b>Timesheet of " + resultData.objEmpInfo.UserName + " for the Period of " + resultData.objEmpInfo.TotalMonthName + "</b></span>");
                if (resultData.objEmpInfo.ManagerName2 != '0') {
                    $('#ts_ManagerNamesid2').html(resultData.objEmpInfo.ManagerName2);
                    $("b.ts_ManagerNamesid2").show();
                    $("#ts_Manager2").show();
                }
                else {
                    $('#ts_ManagerNamesid2').html("");
                    $("b.ts_ManagerNamesid2").hide();
                    $("#ts_Manager2").hide();
                }
                $("#ts_Approveid").hide();
                $("#ts_Submittedid").hide();
                $("#ts_approid").hide();
                $("#ts_submited").hide();

                FirstLoadTimesheetsTable(MonthYear, datahourworked)
                LoadTasklookups();
            }
           });

    }

    function FirstLoadTimesheetsTable(MonthYear, resultData)
    {
        
        $('#divMonthYear').hide();
        $('#btnChangeDate').show();
        $('#btnPrint').hide();
        $('#btnpdf').hide();
        $('#TotHrs').show();
        $('#submit').hide();
        $('#btnPreview').hide();
        $("#tabCon").empty();
        $('#Cmtsave').show();
        $("#imagelbl").show();
        $("#MainTable").empty();
        $("#SubTable").empty();
        var counter = -1;
        var counter15 = -1;
        $("#ClientDetails").show(true);

      $("#tabCon").append("<table name='maintbl' id='MainTable' width='100%'>");

        $.each(resultData, function (k, v)
        {

            if (k <= 15) {

                if (counter15 == -1) {

                    $("#MainTable").append("<td id='td1'>" +
                        "<table id='SubTable' width='100%' class='evAdminTable1'><tr style='background-color:black;color:white'><th width='160' text-align='center' class='evAdminTable'>Date </th> <th class='evAdminTable'>Task </th> <th width='50' class='evAdminTable'>Hours </th></tr>");

                }
                //if (v.colour == 'black') {
                //    v.colour = 'white';
                //}
                $("#SubTable").append("<tr><td>" + v.TaskDate + "</td><td><select id='uc1_ddlTask' class='form-control lookup' selected  onload='LoadTasklookups()'></select></td><td><div class='flex'><input class='form-control uc1txtHours' name='hrs' type='number' title='Enter hours' maxlength='2' min='0' max='24' id='uc1_txtHours" + k + "' value=" + v.NoofHoursWorked + "   style='width: 56px;'><span id='ts_colourcode" + k + "' title=" + v.colour + " style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td><td >&nbsp</td></td>");

                counter15 = counter15 + 1;


            }
            else {


                if (counter == -1) {
                    $("#SubTable").append("</table>")
                    $("#SubTable").append("</td>")
                    $("#MainTable").append("<td id='td2'><table id='SubTable2' width='100%' class='evAdminTable1'><tr style='background-color:black;color:white'><th width='160' text-align='center' class='evAdminTable'>Date </th> <th class='evAdminTable'>Task </th> <th width='50'class='evAdminTable'>Hours</th></tr>");
                }
                //if (v.colour == 'black') {
                //    v.colour = 'white';
                //}
                $("#SubTable2").append("<tr><td>" + v.TaskDate + "</td><td><select class='lookup form-control' selected  id='uc1_ddlTask' class='form-control lookup' selected onload='LoadTasklookups()'></select></td><td><div class='flex'><input class='form-control uc1txtHours' name='hrs' type='number' title='Enter hours' maxlength='2' min='0' max='24' id='uc1_txtHours" + k + "' value=" + v.NoofHoursWorked + "  style='width: 56px;'><span id='ts_colourcode" + k + "' title=" + v.colour + " style='font-size: 25px;line-height: 25px;color:" + v.colour + "'>* </span></div></td><td >&nbsp</td></td>");
                // $('#uc1_ddlTask' + k).append('<option value="' + v.Taskid + '">' + v.Taskname + '</option>');
                counter = counter + 1;

            }

        });

        calculateSum();
        $(":input").bind('keyup mouseup', function () {
            calculateSum();

        });
        "</table>" + + "<hr />"
        $("#MainTable").append("</tr></table>") + "<hr />";
    }


    function HoursDataColours()
    {
        $.each(resultHoursWorkedColourArray, function (index, value)
        {
            //if (value.colour == 'black')
            //{
            //    value.colour = 'white';
            //}
            $('#HoursColours' + index).attr('style', 'font-size:25px;line-height:25px;color:' + value.colour);
            $('#HoursColours' + index).attr('title', value.colour);

        });

    }
    function closebtn() {
        window.location.href = "/Timesheet/WeeklyTimesheets";
    }
</script>