@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Evolutyz Corner ǀ Login</title>
    <meta charset="UTF-8">
    <meta name="description" content="When working with one of the top IT consulting firms in Chicago, your future is limitless. See why businesses all over trust Evolutyz to help them innovate." />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Evolutyz Corner ǀ Login" />
    <meta property="og:description" content="When working with one of the top IT consulting firms in Chicago, your future is limitless. See why businesses all over trust Evolutyz to help them innovate." />
    <meta property="og:url" content="https://ez-evolutyzcornerweb.azurewebsites.net/" />
    <meta property="og:site_name" content="Evolutyz Corner" />
    <meta property="article:modified_time" content="2020-09-16T15:07:43+00:00" />
    <meta property="og:image" content="https://www.evolutyz.com/wp-content/uploads/2020/08/Inc5000_Medallion_Color_2020-1.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    @*<link rel="icon" type="image/png" href="~/LoginCssNew/images/favicon.png" />*@

    <link rel="icon" type="image/png" href="~/Content/images/Evolutyz-favicon-1-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/Content/images/Evolutyz-favicon-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" type="image/png" href="~/Content/images/Evolutyz-favicon-1-180x180.png" />
    <meta name="msapplication-TileImage" type="image/png" content="~/Content/images/Evolutyz-favicon-1-270x270.png" />

    <!--===============================================================================================-->
    @*<link href="~/LoginCssNew/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/LoginCssNew/fonts/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/LoginCssNew/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->


    <link href="~/LoginCssNew/vendor/animate/animate.css" type="text/css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/LoginCssNew/vendor/css-hamburgers/hamburgers.min.css" type="text/css" rel="stylesheet" />

    <!--===============================================================================================-->

    <link href="~/LoginCssNew/vendor/animsition/css/animsition.min.css" type="text/css" rel="stylesheet" />
    <!--===============================================================================================-->


    <link href="~/LoginCssNew/vendor/select2/select2.min.css" type="text/css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/LoginCssNew/vendor/daterangepicker/daterangepicker.css" type="text/css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/LoginCssNew/css/util.css" type="text/css" rel="stylesheet" />
    <link href="~/LoginCssNew/css/main.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
        @@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
        input[type=password]::-ms-reveal,
        input[type=password]::-ms-clear {
            display: none;
        }

        .container-login100 {
            padding: 0;
            position: relative;
        }

            .container-login100 > nav.navbar-default {
                padding: 15px 0;
            }

        .container-login100 {
            width: 100%;
            min-height: 94vh;
            padding: 15px;
            background-image: url(/Content/images/hero-alt-long.png);
        }

        @@media(min-width: 768px) {
            .container-login100 > nav.navbar-default {
                padding: 15px;
            }
        }

        @@media (max-width: 768px) {
            .container-login100 {
                /*background-image: url(/Content/images/hero-alt-mbl.png);*/
                background-image: url(/Content/images/hero-alt-mbl2.png);
                background-position: 80px 0px;
                background-color: #fff;
            }

                .container-login100 > nav.navbar-default ul.navbar-nav.navbar-right > li:first-child > div > p:nth-child(2) {
                    color: #f68927 !important;
                }
        }
    </style>
    <style>
        nav.navbar-default {
            margin-bottom: 70px;
        }
        nav.navbar.navbar-default ul.nav.navbar-nav.navbar-right > li:last-child > img {
            height: 64px;
        }
        .rowFlex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            /*align-items:center;*/
            margin-right: -15px;
            margin-left: -15px;
        }

            .rowFlex > [class^="col-"] > .wrap-login100 {
                margin: auto;
                width: auto;
                padding: 10px 10px 0;
                background-color: rgb(255 255 255 / 75%);
                background-color: rgba(255, 255, 255, 0.75);
                border-radius: 50%;
            }

            .rowFlex .flex_wrapper > h1,
            .rowFlex .flex_wrapper > h3 {
                font-family: 'Roboto', sans-serif;
                color: #333;
            }

            .rowFlex .flex_wrapper > h1,
            .rowFlex .flex_wrapper > h2 {
                font-weight: 600;
            }

            .rowFlex .flex_wrapper > h2 {
                font-family: 'Roboto', sans-serif;
                color: #f8983a;
            }

            .rowFlex .flex_wrapper > h3 {
                font-weight: 500;
            }

        @@media (max-width: 768px) {
            nav.navbar.navbar-default .navbar-header {
                float: left;
            }

            nav.navbar.navbar-default ul.nav.navbar-nav.navbar-right {
                margin: -5px -20px;
                float: right;
            }
        }

        @@media (min-width: 992px) {
            .rowFlex {
                padding-left: 60px;
            }

            nav.navbar-default .navbar-brand > img,
            ul.navbar-right > li > img {
                height: 85px !important;
            }

            .rowFlex .flex_wrapper > h1 {
                font-size: 60px;
                line-height: 65px;
            }

            .rowFlex .flex_wrapper > h2 {
                font-size: 50px;
                line-height: 55px;
            }

            .rowFlex .flex_wrapper > h3 {
                font-size: 45px;
                line-height: 50px;
            }
        }
    </style>
    <!--===============================================================================================-->
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <div class="limiter">
        <div class="container-login100">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><img src="~/LoginCssNew/images/evolutyzcorplogo.png" /></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right" style="display: flex;align-items: center;justify-content: start;">
                        <li style="text-align:right;padding: 0 5px;">
                            <img border="0" src="~/Content/images/ec_inc500.png" alt="logo" style="border:0;cursor: pointer;" onclick="window.open('https://www.inc.com/', '_blank');">
                        </li>
                        <li style="text-align:right;padding: 0 5px;">
                            <img border="0" src="~/Content/images/ec_inc.png" alt="logo" style="border:0;cursor: pointer;background-color: #fff; border-radius: 50%; padding: 2px; border: 5px solid #212121;" onclick="window.open('https://www.inc.com/profile/evolutyz', '_blank');">
                        </li>
                    </ul>
                </div>
            </nav>
            @*<div class="container">*@
                <div class="rowFlex">
                    <div class="col-lg-6 col-md-7 col-sm-6">
                        <div class="flex_wrapper">
                            <h1 style="font-weight: bolder;">An Award-Winning <br /> IT Solutions Firm</h1>
                            <h2 style="margin: 10px auto;font-weight: 600;">Together, the future is limitless.</h2>
                            <h3 style="text-align: left;" align="center">Let’s innovate.</h3>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6">
                        <div class="wrap-login100">

                            <div class="login100-form-title">

                                <h2 class="heading-fancy">Login</h2>

                                <span class="login100-form-title-1">

                                    @ViewBag.userid
                                </span>

                            </div>


                            <form class="login100-form validate-form" action="../Home/VerifyData" method="post">
                                <label style="color:red;" id="error">@ViewBag.Error</label>
                                <label style="color:red;">@TempData["setpass"]</label>
                                <label style="color:red;">@TempData["response"]</label>
                                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                    <input class="input100" type="text" id="txtuserName" name="txtuserName" placeholder="Login with User Name or Email Id">
                                    <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input input-group m-b-18" data-validate="Password is required">
                                    <input class="input100" type="password" id="txtUserPassword" name="txtUserPassword" placeholder="Enter Password">
                                    <span class="input-group-addon toggle-password" toggle="#txtUserPassword" style=" background-color: TRANSPARENT; border: 0; color: #9999a9; "><span class="fa fa-eye-slash"></span></span>
                                </div>



                                <div class="flex-sb-m w-full p-b-30">
                                    <div class="contact100-form-checkbox" style="display:none">
                                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                        <label class="label-checkbox100" for="ckb1">
                                            Remember me
                                        </label>
                                    </div>

                                    <div>
                                        <a href="#" class="txt1">
                                            Forgot Password?
                                        </a>
                                    </div>
                                    <br />

                                </div>

                                <div class="container-login100-form-btn">
                                    <button id="loginbutton" class="login100-form-btn" style="background-color:#039BE5;" onclick="location.href='@Url.Action("VerifyData", "Home")'">
                                        <i class="fa fa-arrow-right"></i>  Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            @*</div>*@
        </div>
    </div>
    <footer class="main-footer clearfix" style="background-color:dimgrey;padding:10px ">
        <div class="pull-right"> <b>Version</b> 1.0 </div>
        <div class="pull-left"><a href="http://evolutyz.com/" target="_blank" style="color:#FFF"><img src="~/Content/images/CompanyLogos/502.png" width="85px" /> &copy; 2021 Evolutyz</a> </div>
    </footer>
    <!--
    <div class="limiter">
        <div class="container-login100">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
    <div class="navbar-header">
        @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@
        <a class="navbar-brand" href="#"><img src="~/LoginCssNew/images/evolutyzcorplogo.png" /></a>
    </div>
    <ul class="nav navbar-nav navbar-right" style="display: flex;align-items: center;justify-content: start;">
        <li style="font-weight: 600;text-align:center;font-size: 10px;padding: 0 5px;">
            <div style="text-align: left;display: inline-block;">
                <p style="margin: 0 0 5px;line-height: 1;color: #323232;">An Award-Winning IT Solutions Firm</p>
                <p style="color: #f58525;margin: 0 0 5px;line-height: 1;">Together, the future is limitless.</p>
                <p style="margin: 0 0 0px;line-height: 1;color: #3c3c3c;">Let's Innovate</p>
            </div>
        </li>
        <li style="text-align:right;padding: 0 5px;">
            <img border="0" src="~/Content/images/ec_inc500.png" alt="logo" style="border:0;cursor: pointer;" onclick="window.open('https://www.inc.com/', '_blank');">
        </li>
        <li style="text-align:right;padding: 0 5px;">
            <img border="0" src="~/Content/images/ec_inc.png" alt="logo" style="border:0;cursor: pointer;background-color: #fff; border-radius: 50%; padding: 2px; border: 5px solid #212121; height: 64px;" onclick="window.open('https://www.inc.com/profile/evolutyz', '_blank');">
        </li>
    </ul>
    @*<div class="collapse navbar-collapse" id="header">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Portfolio Pricing</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Articulation</a></li>
                    </ul>
                </li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Contact</a></li>

            </ul>
        </div>*@
    </div>
    </nav>

    <div class="wrap-login100">

        <div class="login100-form-title">

            @*style="background-image: url(/LoginCssNew/images/bg-01.jpg);"*@
            <h2 class="heading-fancy">Login</h2>

            <span class="login100-form-title-1">

                @ViewBag.userid
                @*<img src="~/LoginCssNew/images/EITS.png" />*@
            </span>

        </div>


        <form class="login100-form validate-form" action="../Home/VerifyData" method="post">
            <label style="color:red;" id="error">@ViewBag.Error</label>
            <label style="color:red;">@TempData["setpass"]</label>
            <label style="color:red;">@TempData["response"]</label>
            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <input class="input100" type="text" id="txtuserName" name="txtuserName" placeholder="Login with User Name or Email Id">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input input-group m-b-18" data-validate="Password is required">
                <input class="input100" type="password" id="txtUserPassword" name="txtUserPassword" placeholder="Enter Password">
                @*<span class="focus-input100"></span>*@
                <span class="input-group-addon toggle-password" toggle="#txtUserPassword" style=" background-color: TRANSPARENT; border: 0; color: #9999a9; "><span class="fa fa-eye-slash"></span></span>
            </div>



            <div class="flex-sb-m w-full p-b-30">
                <div class="contact100-form-checkbox" style="display:none">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Remember me
                    </label>
                </div>

                <div>
                    <a href="#" class="txt1">
                        Forgot Password?
                    </a>
                </div>
                <br />

            </div>

            <div class="container-login100-form-btn">
                <button id="loginbutton" class="login100-form-btn" style="background-color:#039BE5;" onclick="location.href='@Url.Action("VerifyData", "Home")'">
                    <i class="fa fa-arrow-right"></i>  Login
                </button>
            </div>
        </form>
    </div>
    </div>
    </div>
    <footer class="main-footer" style="background-color:dimgrey;padding:10px ">
        <div class="pull-right"> <b>Version</b> 1.0 </div>
        <div class="pull-left"><a href="http://evolutyz.com/" target="_blank" style="color:#FFF"><img src="~/Content/images/CompanyLogos/502.png" width="85px" /> &copy; 2021 Evolutyz</a> </div>
    </footer>

    -->


    <script src="~/LoginCssNew/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/LoginCssNew/vendor/animsition/js/animsition.min.js"></script>
    @*<script src="vendor/animsition/js/animsition.min.js"></script>*@
    <!--===============================================================================================-->
    <script src="~/LoginCssNew/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginCssNew/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!--===============================================================================================-->
    <script src="~/LoginCssNew/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginCssNew/vendor/daterangepicker/moment.js"></script>
    <script src="~/LoginCssNew/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->

    <script src="~/LoginCssNew/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript">
        $(document).ready(function () {
            window.history.pushState(null, "", window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", window.location.href);

            };
            //function disableBack() { window.history.back() }

            //window.onload = disableBack();
            //window.onpageshow = function (evt) { if (evt.persisted) disableBack() }
            window.history.forward();

        });
        function noBack() {
            window.history.forward();
        }
        Element.prototype.backgroundClipPolyfill = function () {
            var a = arguments[0],
                d = document,
                b = d.body,
                el = this;

            function hasBackgroundClip() {
                return b.style.webkitBackgroundClip !== undefined;
            };

            function addAttributes(el, attributes) {
                for (var key in attributes) {
                    el.setAttribute(key, attributes[key]);
                }
            }

            function createSvgElement(tagname) {
                return d.createElementNS('http://www.w3.org/2000/svg', tagname);
            }

            function createSVG() {
                var a = arguments[0],
                    svg = createSvgElement('svg'),
                    pattern = createSvgElement('pattern'),
                    image = createSvgElement('image'),
                    text = createSvgElement('text');

                // Add attributes to elements
                addAttributes(pattern, {
                    'id': a.id,
                    'patternUnits': 'userSpaceOnUse',
                    'width': a.width,
                    'height': a.height
                });

                addAttributes(image, {
                    'width': a.width,
                    'height': a.height
                });
                image.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', a.url);

                addAttributes(text, {
                    'x': 0,
                    'y': 80,
                    'class': a['class'],
                    'style': 'fill:url(#' + a.id + ');'
                });

                // Set text
                text.textContent = a.text;

                // Add elements to pattern
                pattern.appendChild(image);

                // Add elements to SVG
                svg.appendChild(pattern);
                svg.appendChild(text);

                return svg;
            };

            if (!hasBackgroundClip()) {
                var img = new Image();
                img.onload = function () {
                    var svg = createSVG({
                        'id': a.patternID,
                        'url': a.patternURL,
                        'class': a['class'],
                        'width': this.width,
                        'height': this.height,
                        'text': el.textContent
                    });

                    el.parentNode.replaceChild(svg, el);
                }
                img.src = a.patternURL;
            }
        };

        var element = document.querySelector('.heading-fancy');

        element.backgroundClipPolyfill({
            'patternID': 'mypattern',
            'patternURL': 'https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0537/8621/rrtracerspandex_shop_preview.jpg',
            'class': 'heading-fancy'
        });

        $(document).ready(function () {
            // $("#error").text('');
            $(".txt1").click(function () {
                window.location.href = "/Home/ForgotPassword";
            });
        });

        $(".toggle-password").click(function () {
            $(this).toggleClass("btn-info");
            $(this).find('span.fa').toggleClass("fa-eye-slash fa-eye");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });



    </script>
</body>
</html>