@model evolCorner.Models.UserProjectdetailsEntity

<script src="~/Scripts/jquery-1.10.2.js"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<link href="~/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script src="~/EvolutyzCornerScripts/WeeklyPreview.js"></script>

<script src="~/EvolutyzCornerScripts/ByMonthlyPreviewTimesheet15days.js"></script>
<script src="~/EvolutyzCornerScripts/PreviewTimesheet.js"></script>
<script src="~/EvolutyzCornerScripts/ByMonthlyPreviewTimesheet.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<style>
    table > tbody > tr.brown {
        background: #ffdfdd;
    }

        table > tbody > tr.brown > td {
            border-color: #ff996a;
        }

    fieldset.note-status {
        float: left;
        text-align: left;
        padding: 5px 15px 10px;
        margin: 0 2px;
        border: 1px solid silver;
    }

    a.kin {
        display: inline-block;
    }

    input[type=file]#flImage {
        display: inline-block;
    }

    img#previewFlImage {
        display: inline-block;
        max-height: 100px;
        max-width: 100px;
    }

    fieldset.note-status > legend {
        width: auto;
        margin-bottom: auto;
        font-size: 16px;
        font-weight: 600;
        border: 0;
        padding: 0 10px;
    }

    fieldset.note-status > label {
        margin: 0 5px;
    }

        fieldset.note-status > label:before {
            content: "*";
            width: 18px;
            height: 18px;
            line-height: 22px;
            display: inline-block;
            color: #fff;
            text-align: center;
            border-radius: 50%;
            margin-right: 5px;
        }

        /*fieldset.note-status > label.black:before {
                background-color: black;
            }*/

        fieldset.note-status > label.green:before {
            background-color: green;
        }

        fieldset.note-status > label.red:before {
            background-color: red;
        }

        fieldset.note-status > label.blue:before {
            background-color: blue;
        }

    .box.box-solid.box-brown {
        border: 1px solid #aaaaaa;
    }

    .flex {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
    }

    .box.box-solid.box-brown > .box-header {
        /*background-color: #a3765b;
        color: #fff;*/
        border-color: #aaaaaa;
        background: #cccccc url(../Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
        color: #222222;
    }

    /*.box.box-solid.box-brown .btn-warning
        {
            background-color: #f97045;
            border-color: #fe450b;
        }

        .box.box-solid.box-brown .btn-success
        {
            background-color: #fea728;
            border-color: #FF9800;
        }*/
    .block-content .btn-warning {
        background-color: #f97045;
        border-color: #fe450b;
    }

    .block-content .btn-success {
        background-color: #fea728;
        border-color: #FF9800;
    }

    #divhiduserid ~ label {
        margin: 7px auto;
    }
</style>


<style>
    /*b[class^="ts_ManagerNames"],*/
    table#ClientDetails td > b ~ b {
        display: block;
    }

    table[id^="SubTable"] td.colored {
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    .box.box-solid.box-brown {
        border: 1px solid #aaaaaa;
    }

        .box.box-solid.box-brown > .box-header {
            /*background-color: #a3765b;
        color: #fff;*/
            border-color: #aaaaaa;
            background: #cccccc url(../Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
            color: #222222;
        }

    /*.box.box-solid.box-brown .btn-warning
        {
            background-color: #f97045;
            border-color: #fe450b;
        }

        .box.box-solid.box-brown .btn-success
        {
            background-color: #fea728;
            border-color: #FF9800;
        }*/
    .block-content .btn-warning {
        background-color: #f97045;
        border-color: #fe450b;
    }

    .block-content .btn-success {
        background-color: #fea728;
        border-color: #FF9800;
    }

    #divhiduserid ~ label {
        margin: 7px auto;
    }
</style>
<style>
    .evInputBtn {
        display: inline-block;
        padding: 5px 10px;
        margin: 3px 5px;
        background: #848484;
        color: #FFF !important;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        border: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0,0,0,0.2);
        -webkit-box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0,0,0,0.2);
        -moz-box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0,0,0,0.2);
        cursor: pointer;
    }

    #btnSave.evInputBtn,
    #btnSaveUpdate.evInputBtn {
        background: #ff9800;
    }

    #btnSend.evInputBtn,
    #btnSubmitUpdate.evInputBtn {
        background: #4CAF50;
    }
    /*.evInputBtn:hover {
            background: #FF6600;
        }*/


    .contentArea {
        background: #FFF url(../images/shadow.png) repeat-x;
        box-shadow: 0px 5px 8px rgba(183, 35, 35, 0.81);
        padding: 30px;
        min-height: 350px;
    }

    #MainTable {
        border: 0px !important;
    }

    #SubTable {
        border: 0px !important;
    }

    #SubTable2 {
        border: 0px !important;
    }

    table#ClientDetails {
        margin: 10px auto;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-collapse: separate;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    }

        table#ClientDetails td {
            border: none;
            width: auto;
        }

        table#ClientDetails tr > td:nth-child(even) {
            border-right: 1px solid rgba(0, 0, 0, 0.19);
        }

        table#ClientDetails tr > td:last-child {
            border-right: none;
        }

    tbody > tr:only-child:nth-child(odd) {
        background: none;
    }

    .evAdminTable th {
        border-bottom: 0px solid #EAEAEA;
        padding: 5px;
        background: #666;
        color: #FFF;
    }

    table td, table th {
        padding: 3px 6px;
    }

    table tr:nth-of-type(odd) {
        background: #f9f9f9;
    }

    #MainTable > td[id^="td"] {
        border: 0;
        width: 50%;
        vertical-align: top;
    }

    table td > .form-control {
        border-radius: 0px;
        height: auto;
        padding: 2px;
    }

    table td > select.form-control {
        width: 100%;
    }

    table #MainTable > td[id^="td"]:first-child {
        padding-left: 0;
    }

    table#MainTable > td[id^="td"]:last-child {
        padding-right: 0;
    }

    table [id^="SubTable"] tr > td:last-child {
        display: none;
    }

    table[id^="SubTable"] {
        background-color: #fff;
    }

        table[id^="SubTable"] tr > td:first-child {
            word-spacing: 5px;
            text-align: right;
            padding-right: 15px;
        }

    .evAdminTable th {
        border-bottom: 0px solid #EAEAEA;
        padding: 5px;
        background: #666;
        color: #FFF;
    }

    @@page {
        size: A4 landscape;
    }
    /*@@media print {
        .nonPrintable {
            width: 100% !important;
            height: 100% !important;
        }

        .skin-blue .main-header .navbar {
            background-color: #3b464e !important;
        }

        .main-footer {
            background: #142837 !important;
            color: #FFF !important;
        }
      }*/

</style>
<style>
    @@media print {
        .sidebar-mini .content-wrapper {
            margin: 15px 15px 15px 45px !important;
        }
    }

    @@media screen {
        .sidebar-mini .content-wrapper {
            margin: 15px 15px 15px 45px !important;
        }
    }

    .evInputBtn.btn-warning,
    .evInputBtn.btn-warning:focus,
    .evInputBtn.btn-warning:active {
        background-color: #03a9f4;
        border-color: #00bcd4;
    }

    .evInputBtn.btn-danger,
    .evInputBtn.btn-danger:focus,
    .evInputBtn.btn-danger:active {
        background-color: #dd4b39;
        border-color: #d73925;
    }

    #loading-image {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 1035;
        background-color: rgba(243, 243, 243, 0.75);
        /*opacity: .8;*/
    }

        #loading-image > img {
            /*width: 56px;
            height: 56px;
            border: 8px solid rgba(255, 87, 34, 0.25);
            border-top-color: #f37a41;
            border-radius: 50%;*/
            position: absolute;
            /* animation: loader-rotate 1s linear infinite; */
            top: 50%;
            left: 50%;
            margin: -60px auto 0;
            max-width: 100%;
            display: block;
            height: 100px;
        }

        #loading-image > span {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            animation: loader-circles 1s linear infinite;
            top: 50%;
            left: 50%;
            margin: -20px auto 0;
        }

        #loading-image > strong {
            position: absolute;
            top: 50%;
            left: 48%;
            margin: 0px auto 0;
            font-size: 10px;
        }

    @@keyframes loader-circles {
        0% {
            box-shadow: 0 -85px 0 0 rgba(255, 87, 34, 0.05), 61px -61px 0 0 rgba(255, 87, 34, 0.1), 85px 0 0 0 rgba(255, 87, 34, 0.2), 61px 61px 0 0 rgba(255, 87, 34, 0.3), 0 85px 0 0 rgba(255, 87, 34, 0.4), -61px 61px 0 0 rgba(255, 87, 34, 0.6), -85px 0 0 0 rgba(255, 87, 34, 0.8), -61px -61px 0 0 #f37a41;
        }

        12.5% {
            box-shadow: 0 -85px 0 0 #f37a41, 61px -61px 0 0 rgba(255, 87, 34, 0.05), 85px 0 0 0 rgba(255, 87, 34, 0.1), 61px 61px 0 0 rgba(255, 87, 34, 0.2), 0 85px 0 0 rgba(255, 87, 34, 0.3), -61px 61px 0 0 rgba(255, 87, 34, 0.4), -85px 0 0 0 rgba(255, 87, 34, 0.6), -61px -61px 0 0 rgba(255, 87, 34, 0.8);
        }

        25% {
            box-shadow: 0 -85px 0 0 rgba(255, 87, 34, 0.8), 61px -61px 0 0 #f37a41, 85px 0 0 0 rgba(255, 87, 34, 0.05), 61px 61px 0 0 rgba(255, 87, 34, 0.1), 0 85px 0 0 rgba(255, 87, 34, 0.2), -61px 61px 0 0 rgba(255, 87, 34, 0.3), -85px 0 0 0 rgba(255, 87, 34, 0.4), -61px -61px 0 0 rgba(255, 87, 34, 0.6);
        }

        37.5% {
            box-shadow: 0 -85px 0 0 rgba(255, 87, 34, 0.6), 61px -61px 0 0 rgba(255, 87, 34, 0.8), 85px 0 0 0 #f37a41, 61px 61px 0 0 rgba(255, 87, 34, 0.05), 0 85px 0 0 rgba(255, 87, 34, 0.1), -61px 61px 0 0 rgba(255, 87, 34, 0.2), -85px 0 0 0 rgba(255, 87, 34, 0.3), -61px -61px 0 0 rgba(255, 87, 34, 0.4);
        }

        50% {
            box-shadow: 0 -85px 0 0 rgba(255, 87, 34, 0.4), 61px -61px 0 0 rgba(255, 87, 34, 0.6), 85px 0 0 0 rgba(255, 87, 34, 0.8), 61px 61px 0 0 #f37a41, 0 85px 0 0 rgba(255, 87, 34, 0.05), -61px 61px 0 0 rgba(255, 87, 34, 0.1), -85px 0 0 0 rgba(255, 87, 34, 0.2), -61px -61px 0 0 rgba(255, 87, 34, 0.3);
        }

        62.5% {
            box-shadow: 0 -85px 0 0 rgba(255, 87, 34, 0.3), 61px -61px 0 0 rgba(255, 87, 34, 0.4), 85px 0 0 0 rgba(255, 87, 34, 0.6), 61px 61px 0 0 rgba(255, 87, 34, 0.8), 0 85px 0 0 #f37a41, -61px 61px 0 0 rgba(255, 87, 34, 0.05), -85px 0 0 0 rgba(255, 87, 34, 0.1), -61px -61px 0 0 rgba(255, 87, 34, 0.2);
        }

        75% {
            box-shadow: 0 -85px 0 0 rgba(255, 87, 34, 0.2), 61px -61px 0 0 rgba(255, 87, 34, 0.3), 85px 0 0 0 rgba(255, 87, 34, 0.4), 61px 61px 0 0 rgba(255, 87, 34, 0.6), 0 85px 0 0 rgba(255, 87, 34, 0.8), -61px 61px 0 0 #f37a41, -85px 0 0 0 rgba(255, 87, 34, 0.05), -61px -61px 0 0 rgba(255, 87, 34, 0.1);
        }

        87.5% {
            box-shadow: 0 -85px 0 0 rgba(255, 87, 34, 0.1), 61px -61px 0 0 rgba(255, 87, 34, 0.2), 85px 0 0 0 rgba(255, 87, 34, 0.3), 61px 61px 0 0 rgba(255, 87, 34, 0.4), 0 85px 0 0 rgba(255, 87, 34, 0.6), -61px 61px 0 0 rgba(255, 87, 34, 0.8), -85px 0 0 0 #f37a41, -61px -61px 0 0 rgba(255, 87, 34, 0.05);
        }

        100% {
            box-shadow: 0 -85px 0 0 rgba(255, 87, 34, 0.05), 61px -61px 0 0 rgba(255, 87, 34, 0.1), 85px 0 0 0 rgba(255, 87, 34, 0.2), 61px 61px 0 0 rgba(255, 87, 34, 0.3), 0 85px 0 0 rgba(255, 87, 34, 0.4), -61px 61px 0 0 rgba(255, 87, 34, 0.6), -85px 0 0 0 rgba(255, 87, 34, 0.8), -61px -61px 0 0 #f37a41;
        }
    }

    /* #f37a41 - rgb(255, 87, 34) , #f8c26c - rgb(248, 194, 108) */



</style>

<style type="text/css" media="print">

    .nonPrintable {
        width: 100% !important;
        height: 100% !important;
    }

    .skin-blue .main-header .navbar {
        background-color: #3b464e !important;
        -webkit-print-color-adjust: exact;
    }

    .main-footer {
        background: #142837 !important;
        -webkit-print-color-adjust: exact;
    }

        .main-footer *,
        .skin-blue .main-header .navbar .nav > li > a *,
        .skin-blue .main-header .navbar .sidebar-toggle:before,
        .block-content .btn-warning {
            color: #FFF !important;
        }

    .block-content .btn-warning {
        background-color: #f97045 !important;
        -webkit-print-color-adjust: exact;
    }

    #btnSave.evInputBtn, #btnSaveUpdate.evInputBtn {
        background: #ff9800 !important;
        -webkit-print-color-adjust: exact;
    }

    #btnSend.evInputBtn, #btnSubmitUpdate.evInputBtn {
        background: #4CAF50 !important;
        -webkit-print-color-adjust: exact;
    }

    .evInputBtn {
        background: #848484 !important;
        -webkit-print-color-adjust: exact;
    }

    header.main-header,
    .navbar {
        display: block !important;
    }

    a[href]:after {
        content: "" !important;
    }
</style>
<style>

    #divEditTimesheetData.pdfHide.box.box-solid.box-brown {
        border: 0;
    }

        #divEditTimesheetData.pdfHide.box.box-solid.box-brown > .box-header {
            display: none;
        }

    #divEditTimesheetData.pdfHide #btnclose,
    #divEditTimesheetData.pdfHide #btnclose ~ button[type='submit'] {
        display: none
    }


    #UserGridDataWeekly td > span.badge.badge-radius[id="Saved Timesheet"],
    #ManagerGridData td > span.badge.badge-radius[id="Saved Timesheet"] {
        background-color: yellow;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Waiting for Approval at Both Managers"],
    #ManagerGridData td > span.badge.badge-radius[id="Waiting for Approval at Both Managers"] {
        background-color: deepskyblue;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Waiting for Approval at Level_1 Manager"],
    #ManagerGridData td > span.badge.badge-radius[id="Waiting for Approval at Level_1 Manager"] {
        background-color: deepskyblue;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Waiting for Approval at Level_2 Manager"],
    #ManagerGridData td > span.badge.badge-radius[id="Waiting for Approval at Level_2 Manager"] {
        background-color: deepskyblue;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Waiting for Approval"],
    #ManagerGridData td > span.badge.badge-radius[id="Waiting for Approval"] {
        background-color: deepskyblue;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Waiting for Approval at Both Managers"],
    #ManagerGridData td > span.badge.badge-radius[id="Waiting for Approval at Both Managers"] {
        background-color: deepskyblue;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Approved by Both Managers"],
    #ManagerGridData td > span.badge.badge-radius[id="Approved by Both Managers"] {
        background-color: green;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Approved By Level_1 Manager"],
    #ManagerGridData td > span.badge.badge-radius[id="Approved By Level_1 Manager"] {
        background-color: green;
    }


    #UserGridDataWeekly td > span.badge.badge-radius[id="Approved By Level_2 Manager"],
    #ManagerGridData td > span.badge.badge-radius[id="Approved By Level_2 Manager"] {
        background-color: green;
    }


    #UserGridDataWeekly td > span.badge.badge-radius[id="Approved By Level_1 Manager and Pending at Level_2 Manager"],
    #ManagerGridData td > span.badge.badge-radius[id="Approved By Level_1 Manager and Pending at Level_2 Manager"] {
        background-color: #deaa7c;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Pending at Level_1 Manager and Approved by Level_2 Manager"],
    #ManagerGridData td > span.badge.badge-radius[id="Pending at Level_1 Manager and Approved by Level_2 Manager"] {
        background-color: orange;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Rejected at Level_1 Manager"],
    #ManagerGridData td > span.badge.badge-radius[id="Rejected at Level_1 Manager"] {
        background-color: red;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Rejected"],
    #ManagerGridData td > span.badge.badge-radius[id="Rejected"] {
        background-color: red;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Rejected at Level_2 Manager"],
    #ManagerGridData td > span.badge.badge-radius[id="Rejected at Level_2 Manager"] {
        background-color: red;
    }

    #UserGridDataWeekly td > span.badge.badge-radius[id="Revoked at Admin"],
    #ManagerGridData td > span.badge.badge-radius[id="Revoked at Admin"] {
        background-color: red;
    }


    .box.box-solid.box-brown > .box-header > .btn-app {
        border-radius: 50%;
        margin: auto;
        height: auto;
        line-height: 0;
        min-width: inherit;
        float: right;
        padding: 0;
        background-color: transparent;
        border: 0;
    }

        .box.box-solid.box-brown > .box-header > .btn-app > .fa {
            font-size: 24px;
        }

    span.badge.badge-radius {
        float: none;
        position: relative;
        background-color: #555;
        color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
    }
    /*span.badge.badge-radius[title]:hover:after {
            content: attr(title);
            padding: 4px 8px;
            color: #333;
            position: absolute;
            left: 0;
            top: 100%;
            white-space: nowrap;
            z-index: 20;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow: 0px 0px 4px #222;
            -webkit-box-shadow: 0px 0px 4px #222;
            box-shadow: 0px 0px 4px #222;
            background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
            background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
            background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
            background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
            background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
        }*/
    .evInputBtn {
        display: inline-block;
        padding: 5px 10px;
        margin: 3px 5px;
        background: #848484;
        color: #FFF !important;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        border: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0,0,0,0.2);
        -webkit-box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0,0,0,0.2);
        -moz-box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0,0,0,0.2);
        cursor: pointer;
    }

    /*.evInputBtn:hover {
            background: #FF6600;
        }*/

    #Cmtsave {
        padding: 0 10px;
    }

    .contentArea {
        background: #FFF url(../images/shadow.png) repeat-x;
        box-shadow: 0px 5px 8px rgba(183, 35, 35, 0.81);
        padding: 30px;
        min-height: 350px;
    }

    #MainTable {
        border: 0px !important;
    }

    #SubTable {
        border: 0px !important;
    }

    #SubTable2 {
        border: 0px !important;
    }

    table#ClientDetails,
    table#body_ClientDetails {
        margin: 10px auto;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-collapse: separate;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    }

        table#ClientDetails td,
        table#body_ClientDetails td {
            border: none;
            width: auto;
        }

            table#body_ClientDetails td > b ~ b {
                display: block;
            }

        table#ClientDetails tr > td:nth-child(even),
        table#body_ClientDetails tr > td:nth-child(even) {
            border-right: 1px solid rgba(0, 0, 0, 0.19);
        }

        table#ClientDetails tr > td:last-child,
        table#body_ClientDetails tr > td:last-child {
            border-right: none;
        }

    tbody > tr:only-child:nth-child(odd) {
        background: none;
    }

    .evAdminTable th {
        border-bottom: 0px solid #EAEAEA;
        padding: 5px;
        background: #666;
        color: #FFF;
    }

    table td, table th {
        padding: 3px 6px;
    }

    table tr:nth-of-type(odd) {
        background: #f9f9f9;
    }

    table #MainTable > td[id^="td"] {
        border: 0;
        width: 50%;
        vertical-align: top;
    }

    table td > .form-control {
        border-radius: 0px;
        height: auto;
        padding: 2px;
    }

    table td > select.form-control {
        width: 100%;
    }

    table #MainTable > td[id^="td"]:first-child {
        padding-left: 0;
    }

    table#MainTable > td[id^="td"]:last-child {
        padding-right: 0;
    }

    table [id^="SubTable"] tr > td:last-child {
        display: none;
    }

    .box .panel-heading > h3.panel-title {
        font-weight: 600;
        font-family: 'Titillium Web', sans-serif;
    }
</style>


<input type="hidden" value="@TempData["timesheetmode"]" id="tsmode" />
@{
    TempData.Keep("timesheetmode");
}
<input type="hidden" id="CL_PriId" value="@TempData["CL_PriId"]" />
@{
    TempData.Keep("CL_PriId");
}
<!-- Horizontal Form -->
<div id="loading-image" style="display:none">
    @*<img src="~/Content/images/demo_wait.gif"/>*@
    <span></span>
    <strong>Loading Please Wait....</strong>
</div>
<div id="PdfPrint">
    <div class="block-content" id="divPreviewTimesheet">
        @*<div class="box-header with-border">
                <h3 class="box-title"><b style="font-family: 'Ubuntu', sans-serif;">Timesheets Management</b></h3>
                <a class="btn btn-app" href="Usertimesheet" title="Add"><i class="fa fa-plus-circle"></i> </a>
            </div>*@
        <div class="">
            <h4 class="heading-fancy">Timesheets Management</h4>
            <a class="btn" href="WeeklyTimesheets" title="Add" id="addbtn"><i class="fa fa-plus" style="font-size: 22px;"></i> </a>
        </div>

        <div class="box-body no-padding" id="body">

            <div class="panel panel-default" id="UserGridPanel">
                <div class="panel-heading">
                    <h3 class="panel-title">My Timesheets</h3>
                </div>

                <div class="panel-body">

                    <table id="UserGridDataWeekly">
                        <thead id="tblheadid">
                            <tr>

                                <th>Userid</th>
                                <th>TimesheetID</th>
                                <th>ProjectId</th>
                                <th>TimesheetMonth</th>
                                <th>ClientProjectId</th>
                                <th>Client</th>
                                <th>TimesheetMode</th>
                                <th>Project</th>
                                <th>Employee</th>
                                <th>Month</th>
                                <th>Actual Hours</th>
                                <th>Worked Hours </th>
                                <th>Timesheet Duration</th>
                                <th>Status</th>
                                <th id="actions1">Actions</th>


                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
            <div class="panel panel-default" id="ManagerGridPanel">
                <div class="panel-heading">
                    <h3 class="panel-title">Employee Timesheets</h3>
                </div>
                @*<table cellspacing="0" cellpadding="0" border="0" id="ManagerGridPanel_ClientDetails" style="margin: 10px auto;width:98%;border:1px solid #aaaaaa;">
                        <tbody>
                            <tr>
                                <td align="right" width="100" class="alt"><b>Employee Name:</b></td>
                                <td>
                                    <div id="ManagerGridPanel_dvProjectName"> TarakRam</div>

                                </td>
                                <td align="right" width="110" class="alt"><b>Project Name:</b></td>
                                <td>
                                    <div id="ManagerGridPanel_dvClient">StepUp</div>
                                </td>
                                <td width="100" align="right" class="alt"><b>Timesheet Mode:</b></td>
                                <td>
                                    <div id="ManagerGridPanel_dvTSMode">Febrvary</div>
                                </td>
                                <td><b>Duration :</b></td>
                                <td>Feb 01, 2019 to Feb 28, 2019</td>
                        </tbody>
                    </table>*@
                <div class="panel-body">
                    <table id="ManagerGridData" style="display:none">
                        @*<thead id="tblheadid">
                                <tr>
                                    <th>Userid</th>
                                    <th>TimesheetID</th>
                                    <th>ProjectId</th>
                                    <th>TimesheetMonth</th>
                                    <th>Project Name</th>
                                    <th>Emp Name</th>
                                    <th>Month</th>
                                    <th>Actual Hours</th>
                                    <th>Worked Hours </th>
                                    <th>Timesheet Duration</th>
                                    <th>Status</th>
                                    <th id="actions2">Actions</th>

                                </tr>
                            </thead>*@
                    </table>
                </div>
            </div>


            @*</form>*@
        </div>

        <div class="control-sidebar-bg"></div>
    </div>
</div>
<!-------EditTaskDetails <!-- Horizontal Form divEditTimesheetData-->
<div class="box box-solid box-brown" id="divEditTimesheetData">
    <div class="box-header with-border">
        <h3 class="box-title">Preview Timesheet</h3>
        <a class="btn btn-app" href="ByMonthlyTimesheets" title="Add"><i class="fa fa-plus-circle" style=" color: #FF9800; text-shadow: 0px 0px 2px #7d7d7d; "></i> </a>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    @*<form class="form-horizontal">*@



    <div class="box-body" id="body">
        @*<div id="divhidFday" >
                <p> <label id="fday" ></label></p>
            </div>*@
        <div class="clearfix">
            <div class="text-center" id="clientLogo">
                @*<img src="~/uploadimages/images/@ViewBag.imageid" style="margin:auto; width:200px;height:200px;" class="img-responsive" />*@
                <img src="~/uploadimages/images/@ViewBag.imageid" style="margin:auto; width:200px; height:200px;" class="img-responsive" />
            </div>
            <div id="StardateToEnddate" style="color:coral;font-size:large;text-align:center"></div>
        </div>
        <table cellspacing="0" cellpadding="0" border="0" id="body_ClientDetails">
            <tbody>
                <tr>
                    <td align="right" width="100" class="alt">
                        <b>Client Name:</b>
                        <b id="ts_approid">Approved on:</b>
                    </td>
                    <td>
                        <div id="ts_ClientNameid">  </div>
                        <div id="ts_Approveid"></div>
                    </td>
                    <td align="right" width="110" class="alt">
                        <b>Project Name:</b>
                        <b id="ts_submited">Submitted on:</b>
                    </td>
                    <td>
                        <div id="ts_ProjectNameid"></div>
                        <div id="ts_Submittedid"></div>
                    </td>
                    <td width="100" align="right" class="alt">
                        <b>Manager 1:</b>
                        <b id="ts_Manager2">Manager 2:</b>
                    </td>
                    <td>
                        <div id="ts_ManagerNamesid1"></div>
                        <div id="ts_ManagerNamesid2"></div>
                    </td>
                    <td><b>Duration :</b><b>Timesheet Mode:</b></td>
                    <td><div id="Timesheet_Duration"></div><div id="Timesheet_dvTSMode">By Monthly</div></td>
                </tr>
            </tbody>
        </table>
        <div id="tabCon"></div>
        <div id="TotHrs" style="float:right;position:relative;right:19px;font-size:large;display:block"><label>Total Working Hours:</label>&nbsp;&nbsp;<label name="totCount" id="TotalHoursCount"></label></div>
    </div>
    <div id="ShareButton" class="modal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Share Timesheet</h4>
                </div>
                <div class="modal-body" id="">
                    <form id="AddModal">
                        <div class="form-group row">
                            <div class="col-md-8">
                                <label>EmailId:</label>
                                <input type="email" class="form-control" name="emailto" placeholder="Email to" id="emailto" />
                            </div>
                            <div class="col-md-8">
                                <label>EmailId2:</label>
                                <input type="email" class="form-control" name="emailto2" placeholder="Email to" id="emailto2" />
                            </div>
                            <div class="col-md-8">
                                <label>subject:</label>
                                <input type="text" class="form-control" name="subject" placeholder="subject" id="subject" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" id="">
                    <button type="button" class="btn btn-clr" onclick="ShareWeeklyTimesheet()">Share</button>
                    <button type="button" class="btn btn-clr1" data-dismiss="modal" id="cancel_TS"> Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <div id="footer">
        <div id='Cmtsave' style="display:none">
            <label style='color:coral'>Additional Comments</label>
            <div>
                <textarea name='tnameDescription' rows='2' cols='20' id='txtDescription' style='width:100%;'></textarea>

            </div>
            <div class='clearfix' style='padding: 10px;text-align:right;'>
                <fieldset class="note-status">
                    <legend>Note :</legend>
                    @*<label class="black">Saturday / Sunday</label>*@
                    <label class="green">Work from Home</label>
                    <label class="red">Leaves</label>
                    <label class="blue">Holidays</label>
                </fieldset>
                <input type='submit' name='btnSave' value='Save&amp;Close' id='btnSave' onclick=ConfirmSendTimesheet('1') class='evInputBtn'>
                &nbsp;&nbsp;
                <input type='submit' name='btnSend' value='Save&amp;Submit Timesheet' id='btnSend' onclick=ConfirmSendTimesheet('2') class='evInputBtn'>
                &nbsp;&nbsp;
                <input type='submit' name='Approve' value='ApproveTimesheet' id='btnApprove' onclick=WeeklyManagerApprOrRejbFromWeb('3') style="display:none" class='evInputBtn'>
                &nbsp;&nbsp;
                <input type='submit' name='Reject' value='RejectTimesheet' id='btnReject' onclick=WeeklyManagerApprOrRejbFromWeb('4') style="display:none" class='evInputBtn'>
                &nbsp;&nbsp;
                <input type='submit' id='btnclose' name='bntClose' value='Close' class='evInputBtn' title="Close" onClick='window.location.reload()'>
                @*<input type='submit' id='btnPrint' name='bntPrint' value='Print' class='evInputBtn' onClick='print_page()'>
                    <input type='submit' name='btnpdf' value='Pdf' id='btnpdf' class='evInputBtn'>*@

                <button type='submit' id='btnPrint' name='bntPrint' title="Click here to print" class='evInputBtn btn-warning' onClick='print_page()' style="display:none;"><i class="fa fa-print"></i></button>
                <button type='submit' name='btnpdf' id='btnpdf' title="Click here to pdf" class='evInputBtn btn-danger' style="display:none;"><i class="fa fa-file-pdf-o"></i></button>
                <button type='submit' name='btnShare' id='btnShare' title="Click here to pdf" data-target="#ShareButton" data-toggle="modal" class='evInputBtn btn-danger' style="display:none;"><i class="fa fa-share"></i></button>
            </div>
        </div>

        <input type="hidden" id="empname">
        @*<input type="file" id="flImage" name="ImageUpload" style="display:none">*@
        <label class="" id="imagelbl" style="display:none">
            <i class="fa fa-image"></i> Upload Image<input type="file" style="display: none;" id="flImage" name="ImageUpload">
        </label>

        <a class='kin' href='javascript:;' id="images">
            <img id="previewFlImage" data-toggle='modal' data-target='#imgModal' />
        </a>
    </div>


    @*</form>*@
</div>

<!-- /.box -->
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->

</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>



<div class="modal fade-in" id="ContainerGridDetail" role="dialog">

    <div class="modal-dialog modal-custom">
        @*<label id="succ"></label>*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="LoadAllTimesheets()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="PopupAppRejId"></h4>
            </div>

            <div class="modal-body">
                <p id="ProjectNameid" style="margin-bottom:auto;"></p>
            </div>
            <div class="modal-footer" style="text-align:left;">
                <input type="submit" id="btnAdd" class="btn btn-custom1" style="display:none" value="Approve" onclick=ApprovalRejectTimesheetWeekly('3')>
                <input type="submit" id="btnRej" class="btn btn-custom2" style="display:none" value="Reject" onclick=ApprovalRejectTimesheetWeekly('4')>
                <button type="button" id="btncancel" class="btn btn-clr1" onclick="LoadAllTimesheets()">Cancel</button>
                @*<button type="button" class="btn btn-clr1" data-dismiss="modal" id="close" onclick="LoadAllTimesheets()">Close</button>*@
            </div>

        </div>
    </div>
</div>


<div id="imgModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img id="showimage" class="showimage img-responsive" style="margin:auto;height:25em" src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>







<script type="text/javascript">
    $(document).ready(function () {
        // LoadClientDetails();
        //$('span.badge.badge-radius[data-toggle="tooltip"]').tooltip();
        $("#timesheet_Weekly_management").addClass("active");
        $("#timesheet_Weekly_management").siblings().removeClass("active");

        var addtimesheet = '@ViewBag.a';
    if (addtimesheet === "Read") {
        $("#addbtn").hide();
    }
    else {
        $("#addbtn").show();
    }

    });

    function LoadAllTimesheets() {
        window.location = '/Timesheet/PreviewWeeklyTimesheets';

    }

    
    var Userid; var Projectname; var ClientName; var accountid, Projectid, Taskid, timesheetmode; var clientid;
    Userid = '@ViewBag.User_ID';
    Projectname ='@ViewBag.ProjectName';
    ClientName ='@ViewBag.ClientProjectName';
    accountid = '@ViewBag.accountid'; Projectid = '@ViewBag.Projectid';
    Taskid= '@ViewBag.tsktaskID';
    timesheetmode = '@TempData["timesheetmode"]'
    clientid = $("#CL_PriId").val();


</script>





